
@model Mitr.Models.ThematicArea



@using (Ajax.BeginForm("_ThematicAreaAdd", "Master",
        new { src = ViewBag.src },
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" },
    new { @id = "_ThematicAreaAddFrom" })
    )
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => Model.ThematicAreaID)
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 form-group">
            <label>Code<sup>*</sup></label>
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 form-group">
            <label>Priority </label>
            @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 form-group">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 form-group">
            <label>Category </label>
            <ul class="list-unstyled radio-btn">

                <li class="radio">
                    <input type="radio" id="Project" class="form-control" @(string.IsNullOrEmpty(Model.Category) ? "checked" : (Model.Category == "Non Project" ? "checked" : "")) name="@Html.NameFor(model=>model.Category)" value="Project">
                    <label for="Project" class="radio-label">Project</label>
                </li>
                <li class="radio">
                    <input type="radio" id="NonProject" class="form-control" @(Model.Category == "Non Project" ? "checked" : "") name="@Html.NameFor(model=>model.Category)" value="Non Project">
                    <label for="NonProject" class="radio-label">Non Project</label>
                </li>
            </ul>
        </div>


    </div>

    <div class="text-center">

        @if (Model.ThematicAreaID > 0)
        {
            <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
        }
        else
        {
            <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        }

        <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
    </div>

}
