
@model IList<Mitr.Models.Question>

@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="right_col" role="main">
    <div class="inner-main mb-5 pb-0">
        @Html.Partial("ListHeader_Partial", "Question List")


        <div class="row">
            <div class="col-md-12">

                <div class="x_content table-currency mt-0">
                    <input type="hidden" id="hdnAddUrl" name="hdnAddUrl" value="@Url.Action("QuestionAdd",new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Master/QuestionAdd*0") })" />


                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap tbltick new_width" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.no.</th>
                                    <th>Action</th>
                                    <th>Priority</th>
                                    <th>Question</th>
                                    <th>No Of Option</th>
                                    <th>Option 1</th>
                                    <th>Option 2</th>
                                    <th>Option 3</th>
                                    <th>Option 4</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Inserted Date</th>
                                    <th>Updated Date</th>
                                    <th>IP Address</th>
                                </tr>
                                <tr class="searchbar">
                                    <th class="searchhide"></th>
                                    <th class="searchhide"></th>
                                    <th class="searchhide"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int Count = 0;}
                                @foreach (Mitr.Models.Question item in Model)
                                {
                                    Count++;
                                    <tr class="@(item.IsActive == true?"": "trrowred")">
                                        <td>@Count</td>
                                        <td>
                                            <input type="hidden" name="I" value="@item.QuestionID" />
                                            <input type="hidden" name="N" value="@item.NoOfOption" />
                                            @if (clsApplicationSetting.GetSessionValue("Modify") == "True")
                                            {
                                                @Html.Raw(item.IsActive == true
                                               ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='QuestionList' OP='0' class='AIsActive' > <i class='fa fa-check-circle checkgreen' aria-hidden='true'></i></a>"
                                               : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='QuestionList' OP='1'  class='AIsActive' > <i class='fa fa-times-circle crossred' aria-hidden='true'></i></a>")

                                                <a title="Edit" onclick="ListHeaderAdd(@item.QuestionID);" data-toggle='tooltip'><i class="fas fa-edit checkgreen" aria-hidden="true"></i> </a>
                                            }
                                        </td>
                                        <td>

                                            @Html.Raw(clsApplicationSetting.GetSessionValue("Modify") == "True" ? "<input type='number' class='listpriority' list='QuestionList' value=\"" + item.Priority + "\" />" : item.Priority.ToString())
                                        </td>

                                        <td> @item.Quest</td>
                                        <td> @item.NoOfOption</td>
                                        <td> @item.Option1</td>
                                        <td>@item.Option2</td>
                                        <td>@item.Option3</td>
                                        <td>@item.Option4</td>
                                        <td>@(!string.IsNullOrEmpty(item.StartDate) ? Convert.ToDateTime(item.StartDate).ToString("dd-MMM-yyyy") : "")</td>
                                        <td>@(!string.IsNullOrEmpty(item.EndDate) ? Convert.ToDateTime(item.EndDate).ToString("dd-MMM-yyyy") : "")</td>
                                        <td>@item.createdat</td>
                                        <td>@item.modifiedat</td>
                                        <td>@item.IPAddress</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade pop-dgn" id="ViewModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header blk-gdn-btn">
                <h4 class="modal-title"><i class="fas fa-print"></i>Add Question </h4>
                <div class="close" data-dismiss="modal">&times;</div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="TagetDiv"></div>
            </div>
        </div>
    </div>
</div>

@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
    <script>



    function ListHeaderAdd(CMSID) {
        if (CMSID == undefined)
        {
            CMSID = 0;
        }
			$.ajax({
                url: "/Master/_QuestionAdd",
				type: "Get",
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Master/_QuestionAdd" + "*" + CMSID) },
                success: function (data)
                {
					$("#TagetDiv").empty();
                    $("#TagetDiv").html(data);
                    $("#ViewModal").modal("show");
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);

                    ShowOption();
                     $("#NoOfOption").change(function () {
                        ShowOption()
                     });

				},
				error: function (er) {
					FailToaster(er);

				}
			});
            }

    function OnSuccess(obj)
    {
        if (obj.Status) {
            window.location.reload();
        }
        else {
            FailToaster("Can't Update There is some problem");
        }

            }



    function ShowOption() {
            var a = $("#NoOfOption option:selected").val();
        if (a == "2") {
            $(".div3").hide();
            $(".div4").hide();
        }
        else if (a == "3") {
            $(".div3").show();
            $(".div4").hide();
        }
        else if (a == "4") {
            $(".div3").show();
            $(".div4").show();

        }
        else {
            $(".div3").hide();
            $(".div4").hide();
        }
        }
    </script>
}

