
@model IList<Mitr.Models.SubLineItem>


@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="inner-main mb-5 pb-0">
    @Html.Partial("ListHeader_Partial", "SubLine Item List")



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card p-0">
                <div class="card-body p-0">
                    <div class="x_content table-currency mt-0">
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap tbltick new_width" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Action</th>
                                        <th>Priority</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Cost Center</th>
                                        <th>Inserted Date</th>
                                        <th>Updated Date</th>
                                        <th>IP Address</th>
                                    </tr>
                                    <tr class="searchbar">
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int Count = 0;}
                                    @foreach (Mitr.Models.SubLineItem item in Model)
                                    {
                                        Count++;
                                        <tr class="@(item.IsActive == true?"": "trrowred")">
                                            <td>@Count</td>
                                            <td>
                                                <input type="hidden" name="I" value="@item.SubLineItemID" />
                                                <input type="hidden" name="N" value="@item.Name" />
                                                @if (clsApplicationSetting.GetSessionValue("Modify") == "True")
                                                {
                                                    @Html.Raw(item.IsActive == true
                                                   ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='SubLineItemList' OP='0' class='AIsActive' > <i class='fa fa-check-circle checkgreen' aria-hidden='true'></i></a>"
                                                   : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='SubLineItemList' OP='1'  class='AIsActive' > <i class='fa fa-times-circle crossred' aria-hidden='true'></i></a>")

                                                    <a title="Edit" onclick="ListHeaderAdd(@item.SubLineItemID);" data-toggle='tooltip'><i class="fas fa-edit checkgreen" aria-hidden="true"></i> </a>
                                                }
                                            </td>
                                            <td>

                                                @Html.Raw(clsApplicationSetting.GetSessionValue("Modify") == "True" ? "<input type='number' class='listpriority' list='SubLineItemList' value=\"" + item.Priority + "\" />" : item.Priority.ToString())
                                            </td>



                                            <td> @item.Code</td>
                                            <td> @item.Name</td>

                                            <td>@item.CostCenterName</td>
                                            <td>@item.createdat</td>
                                            <td>@item.modifiedat</td>
                                            <td>@item.IPAddress</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade pop-dgn" id="ViewModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header blk-gdn-btn">
                <h4 class="modal-title"><i class="fas fa-print"></i>Add Subline Items </h4>
                <div class="close" data-dismiss="modal">&times;</div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="TagetDiv"></div>
            </div>
        </div>
    </div>
</div>


@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")


    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
    <script>



    function ListHeaderAdd(CMSID) {
        if (CMSID == undefined)
        {
            CMSID = 0;
        }
			$.ajax({
                url: "/Master/_SubLineItemAdd",
				type: "Get",
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Master/_SubLineItemAdd" + "*" + CMSID) },
                success: function (data)
                {
					$("#TagetDiv").empty();
                    $("#TagetDiv").html(data);
                    $("#ViewModal").modal("show");
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);


$('#CostCenterID').bind("change", function () {
      FillValue();
});


				},
				error: function (er) {
					alert(er);

				}
			});
            }

    function OnSuccess(obj)
    {
        if (obj.Status) {
            window.location.reload();
        }
        else {
            FailToaster("Can't Update There is some problem");
        }

            }


     function FillValue() {
            var ddCostCenterCode = $("#CostCenterID Option:Selected").attr("Name");
            $("#txtDonarName").val(ddCostCenterCode);
        }
    </script>
}

