
@{
    ViewBag.Title = "ProcurementApprovalRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start -->
<div class="inner-main defult-height p-3 pb-0">
    <h1 class="heading-one">Procurement Approval Request</h1>
    <input type="hidden" id="hdnProcureRequestId" value="0" />
    <input type="hidden" id="hdnLineId" value="0" />
    <input type="hidden" id="hdnLineIdFrom" value="0" />
    <input type="hidden" id="hdnProcureRequestLineId" value="0" />
    
    <div class="row">

        <div class="col-sm-12">
            <div class="tab-main mb-3">

                <ul id="tabs" class="nav nav-tabs " role="tablist">
                    <li class="nav-item"> <a id="tab-A" href="#pending" class="nav-link active ripplelink" data-toggle="tab" role="tab"><i class="fas fa-clock"></i>Pending</a> </li>
                    <li class="nav-item"> <a id="tab-B" href="#approved" class="nav-link ripplelink" data-toggle="tab" role="tab"><i class="fas fa-check"></i>Approved </a> </li>
                    <li class="nav-item"> <a id="tab-c" href="#resubmitted" class="nav-link ripplelink" data-toggle="tab" role="tab"><i class="fas fa-redo"></i>Resubmitted</a> </li>
                    <li class="nav-item"> <a id="tab-d" href="#rejected" class="nav-link ripplelink" data-toggle="tab" role="tab"><i class="fa fa-ban" aria-hidden="true"></i>Rejected</a> </li>
                </ul>

                <div id="content" class="tab-content p-0" role="tablist">
                    <!-- --->
                    <div id="pending" class="card tab-pane fade show   active" role="tabpanel" aria-labelledby="tab-A">
                        <div class="card-header" role="tab" id="heading-A">
                            <h5 class="mb-0"> <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">Pending <i class="fas fa-clock"></i></a> </h5>
                        </div>
                        <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                            <div class="table-responsive">
                                <table class="table mt-4" id="tblPending">
                                    <thead>
                                        <tr>
                                            <th width="10">S.No</th>
                                            <th width="80">Request No</th>
                                            <th width="100">Request Date</th>
                                            <th width="150">Process By</th>
                                            <th width="150">Point of Contact</th>
                                            <th>Project Code</th>
                                            <th>Contract/Agreement Type </th>
                                            <th width="100">Req. Amount</th>
                                            <th width="60">Status</th>
                                            <th width="70">Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="approved" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-b">
                        <div class="card-header" role="tab" id="heading-A">
                            <h5 class="mb-0"> <a data-toggle="collapse" href="#collapse-b" aria-expanded="true" aria-controls="collapse-b">Approved <i class="fas fa-check"></i></a> </h5>
                        </div>
                        <div id="collapse-b" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-b">
                            <div class="table-responsive">
                                <table class="table mt-4" id="tblApproved">
                                    <thead>
                                        <tr>
                                            <th width="10">S.No</th>
                                            <th width="80">Request No</th>
                                            <th width="100">Request Date</th>
                                            <th width="150">Process By</th>
                                            <th width="150">Point of Contact</th>
                                            <th>Project Code</th>
                                            <th>Contract/Agreement Type </th>
                                            <th width="100">Req. Amount</th>
                                            <th width="100">Status</th>
                                            <th width="70">Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="resubmitted" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-c">
                        <div class="card-header" role="tab" id="heading-c">
                            <h5 class="mb-0"> <a data-toggle="collapse" href="#collapse-c" aria-expanded="true" aria-controls="collapse-c">Resubmitted <i class="fas fa-redo"></i></a> </h5>
                        </div>
                        <div id="collapse-c" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-c">
                            <div class="table-responsive">
                                <table class="table mt-4" id="tblResubmitted">
                                    <thead>
                                        <tr>
                                            <th width="10">S.No</th>
                                            <th width="80">Request No</th>
                                            <th width="100">Request Date</th>
                                            <th width="150">Process By</th>
                                            <th width="150">Point of Contact</th>
                                            <th>Project Code</th>
                                            <th>Contract/Agreement Type </th>
                                            <th width="100">Req. Amount</th>
                                            <th width="100">Status</th>
                                            <th width="70">Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="rejected" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-d">
                        <div class="card-header" role="tab" id="heading-d">
                            <h5 class="mb-0"> <a data-toggle="collapse" href="#collapse-d" aria-expanded="true" aria-controls="collapse-d">Rejected <i class="fa fa-ban" aria-hidden="true"></i></a> </h5>
                        </div>
                        <div id="collapse-d" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-d">
                            <div class="table-responsive">
                                <table class="table mt-4" id="tblRejected">
                                    <thead>
                                        <tr>
                                            <th width="10">S.No</th>
                                            <th width="80">Request No</th>
                                            <th width="100">Request Date</th>
                                            <th width="150">Process By</th>
                                            <th width="150">Point of Contact</th>
                                            <th>Project Code</th>
                                            <th>Contract/Agreement Type </th>
                                            <th width="100">Req. Amount</th>
                                            <th width="100">Status</th>
                                            <th width="70">Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
<!-- ENd -->

 



<div class="modal fade" id="pr-r">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span id="spnHead">CP0026	</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Req No</label>
                        <p>PR-01</p>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Req Date</label>
                        <p>21/09/2022</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <p>Raj Kumar</p>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Point of Contact</label>
                        <p>Deepak Kumar</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></sup></label>
                        <p>PO</p>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatable" class="table mt-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Project Code<sup>*</sup></th>
                                        <th width="250">Project Sub Line Item<sup>*</sup></th>
                                        <th>Project Line Desc</th>
                                        <th width="100">Project Manager</th>
                                        <th width="50">Qty</th>
                                        <th width="90">Budget Amount</th>
                                        <th width="80">Req. Amount<sup>*</sup></th>
                                        <th width="200">Remarks</th>
                                        <th width="98">Status</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>P076</td>
                                        <td>P076.05.001</td>
                                        <td>Asus i3 Laptops</td>
                                        <td>Rajeev</td>
                                        <td class="text-right">1</td>
                                        <td class="text-right">10,000</td>
                                        <td class="text-right">10,000</td>
                                        <td>for new joinee</td>
                                        <td>
                                            Resubmitted
                                        </td>

                                    </tr>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right">10,000</td>
                                        <td class="text-right">10,000</td>
                                        <td colspan="3"></td>
                                    </tr>




                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-12 form-group">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-redo"></i>Resubmitted</span>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label>Reason <sup>*</sup></label>
                        <p>text</p>
                    </div>
                    <div class="col-sm-12 text-center ">

                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i>Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="pr-rct">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span id="spnHead">CP0026	</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label>Req No</label>
                        <p>PR-01</p>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Req Date</label>
                        <p>21/09/2022</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <p>Raj Kumar</p>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Point of Contact</label>
                        <p>Deepak Kumar</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></sup></label>
                        <p>PO</p>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatable" class="table mt-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Project Code<sup>*</sup></th>
                                        <th width="130">Project Sub Line Item<sup>*</sup></th>
                                        <th>Project Line Desc</th>
                                        <th width="100">Project Manager</th>
                                        <th width="50">Qty</th>
                                        <th width="90">Budget Amount</th>
                                        <th width="80">Req. Amount<sup>*</sup></th>
                                        <th width="200">Remarks</th>
                                        <th width="98">Status</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>P076</td>
                                        <td>P076.05.001</td>
                                        <td>Asus i3 Laptops</td>
                                        <td>Rajeev</td>
                                        <td class="text-right">1</td>
                                        <td class="text-right">10,000</td>
                                        <td class="text-right">10,000</td>
                                        <td>for new joinee</td>
                                        <td>Rejected</td>

                                    </tr>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right">10,000</td>
                                        <td class="text-right">10,000</td>
                                        <td colspan="3"></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-12 form-group">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-ban"></i>Rejected</span>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label>Reason <sup>*</sup></label>
                        <p>text</p>
                    </div>
                    <div class="col-sm-12 text-center ">

                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i>Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="pr">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span id="spnHead">Procurement Entry Form</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-1 form-group">
                        <label>Req No</label>
                        <input type="text" disabled="" id="ReqNo" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Req Date</label>
                        <input type="text" disabled="" id="ReqDate" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <input type="text" disabled="" id="Reqby" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Point of Contact <sup>*</sup></label>
                        <select class="form-control applyselect mandate" id="ddlPOC" disabled="">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></label>
                        <select class="form-control applyselect mandate" id="ddlAgreement" disabled="">
                            <option value="Select">Select</option>
                            <option value="Purchase Order (PO)">Purchase Order (PO)</option>
                            <option value="Consultant">Consultant</option>
                            <option value="Sub-grant">Sub-grant</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatableLineItem" class="table mt-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Project Code<sup>*</sup></th>
                                        <th width="120">Project Sub Line Item<sup>*</sup></th>
                                        <th>Project Line Desc</th>
                                        <th width="100">Project Manager</th>
                                        <th width="50">Qty</th>
                                        <th width="90">Budget Amount</th>
                                        <th width="80">Req. Amount <sup>*</sup></th>
                                        <th width="150">Remarks</th>
                                        <th><div class="w-50">Action</div></th>                                      
                                        <th id="thbutton">Approval Remark</th>
                                        <th width="50">
                                            <div id="chkAll">
                                                <input type="checkbox" id="selectall" class="sltchk" name="AdvanceRequired" onchange="valueChanged()">
                                                <label for="selectall" class="selectall  m-0"></label>
                                            </div>
                                        </th>
                                    </tr>

                                </thead>                            

                                <tfoot>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right"><label class="text-right"  id="lblTotal1">0</label></td>
                                        <td class="text-right"><label class="text-right" id="lblTotal2">0</label></td>
                                        <td colspan="4"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                    <div class="col-sm-12 text-center " id="divApproval">
                        <button class="btn mtr-g-grn hide" type="button" onclick="ApproveRejectRequest()" ><i class="fas fa-check" aria-hidden="true"></i>Approve</button>
                        <a href="procurement-approval-request.html" style="display:none;" class="btn mtr-o-grn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</a>
                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i>Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="rjt">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> Reject
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Please share the reason for rejection<sup>*</sup></label>
                        <textarea class="form-control h-100 maxSize[1200] Reject" placeholder="Explain Hare" id="txtRejectReason" onchange="HideErrorMessage(this)"></textarea>
                        <span id="sptxtRejectReason" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-12 text-center ">
                        <button class="btn mtr-o-grn" type="button" onclick="RejectReason()"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i>Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="rsbt">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> Resubmitted
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Please share the reason for resubmission<sup>*</sup> </label>
                        <textarea class="form-control h-100 maxSize[1200] Resubmission" placeholder="Explain Hare" id="txtResubmitReason" onchange="HideErrorMessage(this)"></textarea>
                        <span id="sptxtResubmitReason" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-12 text-center ">
                        <button class="btn mtr-o-grn" onclick="ReSubmitReason()" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>

                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i>Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="modal fade confirmmsg" id="confirmmsgrcmultiple">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="swal-icon swal-icon--warning">
                <span class="swal-icon--warning__body">
                    <span class="swal-icon--warning__dot"></span>
                </span>
            </div>

            <div class="modal-body ">
                <div class="swal-title text-center">
                    Are you want to Approve
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" data-toggle="modal" class="btn cnl-btn hidemodalno">No</button>
                <button type="button" onclick="AppoveRequest(2)" class="btn mtr-o-grn hidemodal">Yes</button>

            </div>

        </div>



    </div>

</div>

<div class="modal fade confirmmsg" id="confirmmsgrcmultipleGrid">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="swal-icon swal-icon--warning">
                <span class="swal-icon--warning__body">
                    <span class="swal-icon--warning__dot"></span>
                </span>
            </div>

            <div class="modal-body ">
                <div class="swal-title text-center">
                    Are you want to Approve
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" data-toggle="modal" class="btn cnl-btn hidemodalno">No</button>
                <button type="button" onclick="ApproveSave()" class="btn mtr-o-grn hidemodal">Yes</button>

            </div>

        </div>



    </div>

</div>
<div style="display:none;">
    <a id="btnVendorRegistrationReturn" href="~/Procurement/ProcurementApprovalRequest" class="btn mtr-g-grn btn-l ripplelink "><i class="fa fa-plus"></i>Add</a>

</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
 
    <script src="~/Areas/Procurement/DevScript/ProcurementApprovalRequest.js"></script>
    <script>
		 var IsEDUser = '@ViewBag.IsED';
       var loggedinUserid = '@ViewBag.UserId';
		var loggedinUserName = '@ViewBag.UserName';
		var UserGrade = '@ViewBag.Grade';
        var IsPM = '@ViewBag.IsPM';
        var VendorRegId = '@ViewBag.VendorRegId';
        var IsProcurementApprover = '@ViewBag.IsProcurementApprover';

    </script>
}

<script>
    $(document).ready(function () {
        $(".applyselect").select2();
    });
</script>

<script>

    $('.hidemodal').click(function () {
        $('.confirmmsg').modal('hide');
        $('.modal-backdrop').hide();
    });
    var MenuID = Number(129);

    


    function SuccessToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-check green-clr ");
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
    }

    function FailToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-exclamation-triangle red-clr");
        var x = document.getElementById("toast")
        x.className = "show toaster-warning";
        setTimeout(function () { x.className = x.className.replace("show toaster-warning", ""); }, 4000);
    }


    function ValidateFile(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(PDF|DOCX|TXT|XLS|XLSX)$/)) {

            var filesize = 3145728;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("File size should be less than 3 MB");
                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid file type , please select valid file again");
            document.getElementById(FileName).value = '';
            return result;
        }

    }

    function ValidateImage(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(JPG|JPEG|PNG|PDF)$/)) {

            var filesize = 2097152;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("Image should be less than 2 MB");

                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid Image type , please select valid Image");
            document.getElementById(FileName).value = '';
            return result;
        }

    }
</script>
<script>
    // JavaScript Document
    $(function () {
        $('#js-nav-toggle').click(function (e) {
            e.preventDefault();
            $("html").toggleClass("is-sideopen");
            $("#js-nav-toggle").toggleClass("is-active");
        });

        var $content = $('.l-contents');
        var $header = $('.l-header');


        $content.click(function () {
            $("html").removeClass("is-sideopen");
        });


        $header.click(function () {
            $("html").removeClass("is-sideopen");
        });


    });


    $(function () {

        var $dropdown = $('.js-dropdown');
        var $content = $('.l-contents');
        var $toggle = $('#js-nav-toggle');


        $('.js-dropdown-menu').hide();
        $dropdown.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $content.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $toggle.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });

    });

    $(function () {
        $('.is-ac-close').hide();
        $(".is-ac-click").on("click", function () {
            if ($(this).children('i').is('.fa-angle-right')) {
                $(this).children('i')
                    .removeClass('fa-angle-right')
                    .addClass('fa-angle-down');
            } else {
                $(this).children('i')
                    .removeClass('fa-angle-down')
                    .addClass('fa-angle-right');
            }
            $(this).next().slideToggle(200);
        });

        $('.is-ac-close').hide();
        $(".is-ac-bar").on("click", function () {

            if ($(this).find('i').is('.fa-caret-down')) {

                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-up');
            } else {
                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-down');
            }
            $(this).next().slideToggle(200);
        });
    });




    //---------------------------------------------------
    // ▼　tab
    //---------------------------------------------------
    $(function () {
        var rwdTab = $('.c-tab'),
            switchPoint = 768,
            fadeSpeed = 300,
            slideSpeed = 300;

        var tabBtn = rwdTab.children('.c-tab-panel').children('.c-tab-heading'),
            contentsArea = rwdTab.children('.c-tab-panel').children('.c-tab-body');

        tabBtn.on('click', function () {
            if (!$(this).hasClass('c-tab-active')) {
                tabBtn.removeClass('c-tab-active');
                $(this).addClass('c-tab-active');

                if (window.innerWidth > switchPoint) {
                    contentsArea.fadeOut(fadeSpeed);
                    $(this).next().fadeIn(fadeSpeed);
                } else {
                    contentsArea.slideUp(slideSpeed);
                    $(this).next().slideDown(slideSpeed);
                }
            }
        });

        tabBtn.first().click();
    });



</script>
<!-- required -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        jQuery('.stellarnav').stellarNav({
            theme: 'dark',
            breakpoint: 960,
            position: 'right',

        });
        $('.notifyjs-corner').empty();
    });
</script>
<!-- required -->
<script>
    $("document").ready(function () {

        $('.dropdown-menu').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });
    });


</script>
<script>

    var links = document.querySelectorAll('.ripplelink');

    for (var i = 0, len = links.length; i < len; i++) {
        links[i].addEventListener('click', function (e) {
            var targetEl = e.target;
            var inkEl = targetEl.querySelector('.ink');

            if (inkEl) {
                inkEl.classList.remove('animate');
            }
            else {
                inkEl = document.createElement('span');
                inkEl.classList.add('ink');
                inkEl.style.width = inkEl.style.height = Math.max(targetEl.offsetWidth, targetEl.offsetHeight) + 'px';
                targetEl.appendChild(inkEl);
            }

            inkEl.style.left = (e.offsetX - inkEl.offsetWidth / 2) + 'px';
            inkEl.style.top = (e.offsetY - inkEl.offsetHeight / 2) + 'px';
            inkEl.classList.add('animate');
        }, false);
    }
</script>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 250) {
            $('.header').addClass("sticky");
        }
        else {
            $('.header').removeClass("sticky");
        }
    });


</script>

<script type="text/javascript">
    $(".but").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
        // Toggle this window open/close
        $(this).next(".content").stop().slideToggle(300);
        //hitter test//
        $(".hitter").show()
    });

    $(".hitter").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function () {
            $('.selectedId').prop('checked', this.checked);
        });

        $('.selectedId').change(function () {
            var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
            $('#selectall').prop("checked", check);
        });
    });
</script>
<script>
    function valueChanged() {
        if ($('.sltchk').is(":checked"))
            $(".hide").show();

        else
            $(".hide").hide();
    };
</script>
<script>

    $('.sltchk').change(function () {
        if ($(this).is(":checked")) {
            $('.icon-thread').addClass('d-none');
            $(".sumbitbtn").addClass('d-none');
        } else {
            $('.icon-thread').removeClass('d-none');
            $(".sumbitbtn").removeClass('d-none');
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript">
    var divs = ["Div1", "Div2", "Div3"];
    var visibleDivId = null;
    function divVisibility(divId) {
        if (visibleDivId === divId) {
            visibleDivId = null;
        } else {
            visibleDivId = divId;
        }
        hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
        var i, divId, div;
        for (i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);
            if (visibleDivId === divId) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    }
</script>