
@{
    ViewBag.Title = "RFPEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-one">RFP Entry Form</h1>

<div class="inner-main  p-0 pb-0">
    <!----->

    <div id="accordion">
        <div class="acd-tab">
            <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" fdprocessedid="m1co1">
                In Principal Approval
            </button>
            <button class="btn-link " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" fdprocessedid="savpu">
                RFP Details
            </button>
        </div>



        <div class="p-2">
            <div id="collapseOne" class="collapse show" aria-labelledby="">

                <div class="row">
                    <div class="col-sm-1 form-group">
                        <label>Req No</label>
                        <input type="text" disabled="" id="ReqNoA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Req Date</label>
                        <input type="text" disabled="" id="ReqDateA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <input type="text" disabled="" id="ReqbyA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Point of Contact <sup>*</sup></label>
                        <select class="form-control applyselect" id="ddlPOCA" disabled="">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></label>
                        <select class="form-control applyselect" id="ddlAgreementA" disabled="">
                            <option value="Select">Select</option>
                            <option value="Purchase Order (PO)">Purchase Order (PO)</option>
                            <option value="Consultant">Consultant</option>
                            <option value="Sub-grant">Sub-grant</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatableApproved" class="table mt-0 mb-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Project Code<sup>*</sup></th>
                                        <th width="350">Project Sub line Item<sup>*</sup></th>
                                        <th>Project Line Desc</th>
                                        <th width="100">Project Manager</th>
                                        <th width="50">Qty</th>
                                        <th width="90">Budget Amount</th>
                                        <th width="80">Req. Amount<sup>*</sup></th>
                                        <th width="200">Remarks</th>
                                        <th width="98">Status</th>
                                        <th>Action</th>


                                    </tr>

                                </thead>
                                <tbody>





                                <tfoot>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right"><label  class="text-right"  id="lblTotal1A">0</label></td>
                                        <td class="text-right"><label  class="text-right"  id="lblTotal2A">0</label></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>



                            </table>
                        </div>

                    </div>






                </div>

            </div>

            <div id="collapseTwo"  class="collapse show" aria-labelledby ="headingTwo">

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-user-tie"></i>RFP Details</span>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Last date of RFP<sup>*</sup></label>                       
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbLastdateofRFP" onchange="HideErrorMessage(this)">
                        <span id="sptbLastdateofRFP" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Agreed scope of work<sup>*</sup></label>
                        <input type="file" class="form-control" placeholder="Enter" name="" id="fileAttach" >
                        <span id="spfileAttach" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                        <input type="hidden" id="hdnUploadFileUrl" />
                        <input type="hidden" id="hdnUploadActualFileName" />
                        <input type="hidden" id="hdnUploadNewFileName" />
                        
                        <div id="divDeleteAttach">
                            <a title='Click to Remove' onclick="DeleteAttachment()" data-toggle='tooltip' data-original-title='Click to Remove'><i class='fas fa-window-close m-0 red-clr' aria-hidden='true'></i> </a>
                        </div>
                        <div class="showatchimg">
                            <label id="lblAttachement"></label>
                            <button id="btnDownload1" onclick='DownloadFile()' target='_blank' class='delete rmatch green-clr' data-toggle="tooltip" title="" data-original-title="Download"><i class='fas fa-download'></i></button>
                        </div>

                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Estimated Start Date<sup>*</sup></label>                    
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbEstimatedStartDate" onchange="HideErrorMessage(this)">
                        <span id="sptbEstimatedStartDate" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>

                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Estimated End Date<sup>*</sup></label>
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbEstimatedEndDate" onchange="HideErrorMessage(this)">
                        <span id="sptbEstimatedEndDate" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label>Special Conditions, if any</label>
                        <textarea class="form-control h-100 maxSize[1200]" placeholder="Explain Hare" id="txtSpecialCond"></textarea>
                    </div>

                    <div class="col-sm-6 form-group">
                        <strong>Payment Terms</strong>
                        <table class="table mt-2  " id="tblActivity">
                            <tbody>
                                <tr>
                                    <th>Narration</th>
                                    <th width="70">Remove</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control msmAdd" placeholder="Ener" id="txtNarration">
                                        <span id="sptxtNarration" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                    </td>
                                    <td>

                                    </td>

                                </tr>

                            
                            </tbody>
                        </table>
                        <div class="text-right" id="dvNarration">
                            <button  onclick="AddNarration()" class="btn green-clr" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-6 mx-auto form-group" id="divRejectedReason" style="display:none;">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <hr>
                                <span class="hr-aps"><i class="fas fa-ban"></i>Rejected</span>
                            </div>
                            <div class="col-md-12 form-group">
                                <strong>Reason</strong>                       
                                <p  id="divRejected"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">

                        <button type="submit" id="dvNarrationSave1" onclick="SaveRFPEntry(1)" class="btn mtr-o-grn btn-l ripplelink pull-right"><i class="fas fa-save"></i>Save</button>
                        <a onclick="SaveRFPEntry(2)" id="dvNarrationSave2" href="#" class="btn mtr-o-grn btn-l ripplelink pull-right"><i class="fa fa-paper-plane"></i>Submit</a>                    
                        <a href="ProcurementUserRequest" class="btn cnl-btn ripplelink"><i class="fas fa-times"></i>Close</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <!----->


</div>



<div class="modal fade" id="pr-p">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span id="spnHead">CP003	</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Req No</label>
                        <p>xxx14</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Req Date</label>
                        <p>21/09/2022</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <p>Raj Kumar</p>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></sup></label>
                        <p>Purchase Order (PO)</p>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatable" class="table mt-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Vendor Name</th>
                                        <th width="60">Vendor Rating</th>
                                        <th>Empanelled</th>
                                        <th width="150">Unit Type</th>
                                        <th width="40">Units</th>
                                        <th width="80">Unit Rate</th>
                                        <th width="100">Amount</th>
                                        <th width="98">Tax (GST & Others)</th>
                                        <th width="60">Frieght/ Transportation</th>
                                        <th width="100">Total Value</th>
                                        <th width="150">Attach Quotation</th>
                                        <th>Remarks  </th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select class="form-control applyselect">
                                                <option>Select</option>
                                                <option>Vender Name 1</option>
                                                <option>Vender Name 2</option>
                                                <option>Vender Name 3</option>
                                                <option>Vender Name 4</option>
                                            </select>
                                        </td>
                                        <td>5</td>
                                        <td>Yes</td>
                                        <td>
                                            <select class="form-control applyselect">
                                                <option>Select</option>
                                                <option>Rate Contract (single)</option>
                                                <option>Unit</option>
                                                <option>Lumpsum</option>
                                                <option>Rate Contract (Multiple)</option>
                                            </select>
                                        </td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="number" class="form-control text-right" placeholder="0"></td>
                                        <td class="text-right"><input type="file" class="form-control text-right" placeholder="0"></td>
                                        <td>
                                            <textarea placeholder="Enter" class="form-control"></textarea>
                                        </td>

                                    </tr>


                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right">30,000</td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total Req. Amount</td>

                                        <td colspan="2" class="text-right">10,000</td>
                                        <td colspan="3"></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-sm-6 mx-auto" id="Div1" style="display: none;">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <hr>
                                <span class="hr-aps"><i class="fas fa-check"></i>Approve</span>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Approval Remark, if any</label>
                                <textarea class="form-control h-100" placeholder="Explain Hare"></textarea>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa-solid fa-paper-plane"></i>Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mx-auto" id="Div3" style="display: none;">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <hr>
                                <span class="hr-aps"><i class="fas fa-ban"></i>Reject</span>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Please share the reason for Rejection <sup>*</sup></label>
                                <textarea class="form-control h-100" placeholder="Explain Hare"></textarea>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa-solid fa-paper-plane"></i>Submit</button>
                            </div>
                        </div>
                    </div>






                </div>

            </div>
        </div>

    </div>

</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
    <script src="~/Areas/Procurement/DevScript/RFPEntry.js"></script>
    
    <script>
		 var IsEDUser = '@ViewBag.IsED';
       var loggedinUserid = '@ViewBag.UserId';
		var loggedinUserName = '@ViewBag.UserName';
		var UserGrade = '@ViewBag.Grade';
        var IsPM = '@ViewBag.IsPM';
        var VendorRegId = '@ViewBag.VendorRegId';
        var IsProcurementApprover = '@ViewBag.IsProcurementApprover';
        var RequestId = '@ViewBag.RequestId';
    </script>
}
<script>
    $(document).ready(function () {
        $(".applyselect").select2();
    });
</script>

<script>
    var MenuID = Number(129);




    function SuccessToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-check green-clr ");
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
    }

    function FailToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-exclamation-triangle red-clr");
        var x = document.getElementById("toast")
        x.className = "show toaster-warning";
        setTimeout(function () { x.className = x.className.replace("show toaster-warning", ""); }, 4000);
    }


    function ValidateFile(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(PDF|DOCX|TXT|XLS|XLSX)$/)) {

            var filesize = 3145728;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("File size should be less than 3 MB");
                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid file type , please select valid file again");
            document.getElementById(FileName).value = '';
            return result;
        }

    }

    function ValidateImage(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(JPG|JPEG|PNG|PDF)$/)) {

            var filesize = 2097152;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("Image should be less than 2 MB");

                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid Image type , please select valid Image");
            document.getElementById(FileName).value = '';
            return result;
        }

    }
</script>
<script>
    // JavaScript Document
    $(function () {
        $('#js-nav-toggle').click(function (e) {
            e.preventDefault();
            $("html").toggleClass("is-sideopen");
            $("#js-nav-toggle").toggleClass("is-active");
        });

        var $content = $('.l-contents');
        var $header = $('.l-header');


        $content.click(function () {
            $("html").removeClass("is-sideopen");
        });


        $header.click(function () {
            $("html").removeClass("is-sideopen");
        });


    });


    $(function () {

        var $dropdown = $('.js-dropdown');
        var $content = $('.l-contents');
        var $toggle = $('#js-nav-toggle');


        $('.js-dropdown-menu').hide();
        $dropdown.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $content.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $toggle.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });

    });

    $(function () {
        $('.is-ac-close').hide();
        $(".is-ac-click").on("click", function () {
            if ($(this).children('i').is('.fa-angle-right')) {
                $(this).children('i')
                    .removeClass('fa-angle-right')
                    .addClass('fa-angle-down');
            } else {
                $(this).children('i')
                    .removeClass('fa-angle-down')
                    .addClass('fa-angle-right');
            }
            $(this).next().slideToggle(200);
        });

        $('.is-ac-close').hide();
        $(".is-ac-bar").on("click", function () {

            if ($(this).find('i').is('.fa-caret-down')) {

                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-up');
            } else {
                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-down');
            }
            $(this).next().slideToggle(200);
        });
    });




    //---------------------------------------------------
    // ▼　tab
    //---------------------------------------------------
    $(function () {
        var rwdTab = $('.c-tab'),
            switchPoint = 768,
            fadeSpeed = 300,
            slideSpeed = 300;

        var tabBtn = rwdTab.children('.c-tab-panel').children('.c-tab-heading'),
            contentsArea = rwdTab.children('.c-tab-panel').children('.c-tab-body');

        tabBtn.on('click', function () {
            if (!$(this).hasClass('c-tab-active')) {
                tabBtn.removeClass('c-tab-active');
                $(this).addClass('c-tab-active');

                if (window.innerWidth > switchPoint) {
                    contentsArea.fadeOut(fadeSpeed);
                    $(this).next().fadeIn(fadeSpeed);
                } else {
                    contentsArea.slideUp(slideSpeed);
                    $(this).next().slideDown(slideSpeed);
                }
            }
        });

        tabBtn.first().click();
    });



</script>
<!-- required -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        jQuery('.stellarnav').stellarNav({
            theme: 'dark',
            breakpoint: 960,
            position: 'right',

        });
        $('.notifyjs-corner').empty();
    });
</script>
<!-- required -->
<script>
    $("document").ready(function () {

        $('.dropdown-menu').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });
    });


</script>
<script>

    var links = document.querySelectorAll('.ripplelink');

    for (var i = 0, len = links.length; i < len; i++) {
        links[i].addEventListener('click', function (e) {
            var targetEl = e.target;
            var inkEl = targetEl.querySelector('.ink');

            if (inkEl) {
                inkEl.classList.remove('animate');
            }
            else {
                inkEl = document.createElement('span');
                inkEl.classList.add('ink');
                inkEl.style.width = inkEl.style.height = Math.max(targetEl.offsetWidth, targetEl.offsetHeight) + 'px';
                targetEl.appendChild(inkEl);
            }

            inkEl.style.left = (e.offsetX - inkEl.offsetWidth / 2) + 'px';
            inkEl.style.top = (e.offsetY - inkEl.offsetHeight / 2) + 'px';
            inkEl.classList.add('animate');
        }, false);
    }
</script>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 250) {
            $('.header').addClass("sticky");
        }
        else {
            $('.header').removeClass("sticky");
        }
    });


</script>

<script type="text/javascript">
    $(".but").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
        // Toggle this window open/close
        $(this).next(".content").stop().slideToggle(300);
        //hitter test//
        $(".hitter").show()
    });

    $(".hitter").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function () {
            $('.selectedId').prop('checked', this.checked);
        });

        $('.selectedId').change(function () {
            var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
            $('#selectall').prop("checked", check);
        });
    });
</script>
<script>
    function valueChanged() {
        if ($('.sltchk').is(":checked"))
            $(".hide").show();
        else
            $(".hide").hide();
    };
</script>
<script type="text/javascript">
    var divs = ["Div1", "Div3"];
    var visibleDivId = null;
    function divVisibility(divId) {
        if (visibleDivId === divId) {
            visibleDivId = null;
        } else {
            visibleDivId = divId;
        }
        hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
        var i, divId, div;
        for (i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);
            if (visibleDivId === divId) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    }
</script>
<script>
    function show2() {
        document.getElementById('div1').style.display = 'none';
    }
    function show1() {
        document.getElementById('div1').style.display = 'block';
    }
</script>
