
@{
    ViewBag.Title = "RFPProcessPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-one">Module Admin </h1>
<!-- Start -->
<div class="inner-main defult-height p-0 pb-0">

    <!----->

    <div id="accordion">
        <div class="acd-tab">
            <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                In Principal Approval
            </button>
            <button class="btn-link " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                RFP Details
            </button>

            <button class="btn-link " data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                Published Details
            </button>
        </div>



        <div class="p-2">
            <div id="collapseOne" class="collapse show" aria-labelledby="">

                <!----->
                <div class="row">
                    <div class="col-sm-1 form-group">
                        <label>Req No</label>
                        <input type="text" disabled="" id="ReqNoA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Req Date</label>
                        <input type="text" disabled="" id="ReqDateA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Process By</label>
                        <input type="text" disabled="" id="ReqbyA" placeholder="Enter" name="">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Point of Contact <sup>*</sup></label>
                        <select class="form-control applyselect" id="ddlPOCA" disabled="">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contract/Agreement Type <sup>*</sup></label>
                        <select class="form-control applyselect" id="ddlAgreementA" disabled="">
                            <option value="Select">Select</option>
                            <option value="Purchase Order (PO)">Purchase Order (PO)</option>
                            <option value="Consultant">Consultant</option>
                            <option value="Sub-grant">Sub-grant</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive">
                            <table id="datatableApproved" class="table mt-0 mb-0 ">
                                <thead>
                                    <tr>
                                        <th width="10">S.NO</th>
                                        <th width="90">Project Code<sup>*</sup></th>
                                        <th width="250">Project Sub line Item<sup>*</sup></th>
                                        <th>Project Line Desc</th>
                                        <th width="100">Project Manager</th>
                                        <th width="50">Qty</th>
                                        <th width="90">Budget Amount</th>
                                        <th width="80">Req. Amount<sup>*</sup></th>
                                        <th width="100">Remarks</th>
                                        <th width="98">Status</th>
                                        <th>Action</th>


                                    </tr>

                                </thead>
                                <tbody>





                                <tfoot>
                                    <tr class="green-clr lgt-mtr-o-bg text-right fn-bold">
                                        <td colspan="6">Total</td>
                                        <td class="text-right"><label  class="text-right"  id="lblTotal1A">0</label></td>
                                        <td class="text-right"><label  class="text-right"  id="lblTotal2A">0</label></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>



                            </table>
                        </div>

                    </div>






                </div>
                <!----->

            </div>

            <div id="collapseTwo"  class="collapse show" aria-labelledby ="headingTwo">

                <!----->
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-user-tie"></i>RFP Details</span>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Last date of RFP<sup>*</sup></label>
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbLastdateofRFP" onchange="HideErrorMessage(this)">
                        <span id="sptbLastdateofRFP" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Agreed scope of work<sup>*</sup></label>
                        <input type="file" class="form-control" placeholder="Enter" name="" id="fileAttach">
                        <span id="spfileAttach" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                        <input type="hidden" id="hdnUploadFileUrl" />
                        <input type="hidden" id="hdnUploadActualFileName" />
                        <input type="hidden" id="hdnUploadNewFileName" />
                        
                        <div id="divDeleteAttach">
                            <a title='Click to Remove' onclick="DeleteAttachment()" data-toggle='tooltip' data-original-title='Click to Remove'><i class='fas fa-window-close m-0 red-clr' aria-hidden='true'></i> </a>
                        </div>
                        <div class="showatchimg">
                            <label id="lblAttachement"></label>
                            <button id="btnDownload1" onclick='DownloadFile()' target='_blank' class='delete rmatch green-clr' data-toggle="tooltip" title="" data-original-title="Download"><i class='fas fa-download'></i></button>
                        </div>

                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Estimated Start Date<sup>*</sup></label>
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbEstimatedStartDate" onchange="HideErrorMessage(this)">
                        <span id="sptbEstimatedStartDate" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>

                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Estimated End Date<sup>*</sup></label>
                        <input autocomplete="off" class="form-control Mandatory datepicker" placeholder="Enter" id="tbEstimatedEndDate" onchange="HideErrorMessage(this)">
                        <span id="sptbEstimatedEndDate" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label>Special Conditions, if any</label>
                        <textarea class="form-control h-100 maxSize[1200]" placeholder="Explain Hare" id="txtSpecialCond"></textarea>
                    </div>

                    <div class="col-sm-6 form-group">
                        <strong>Payment Terms</strong>
                        <table class="table mt-2  " id="tblActivity">
                            <tbody>
                                <tr>
                                    <th>Narration</th>
                                    <th>Remove</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control msmAdd" placeholder="Ener" id="txtNarration">
                                        <span id="sptxtNarration" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                    </td>
                                    <td>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                        <div class="text-right" id="dvNarration">
                            <button onclick="AddNarration()" class="btn green-clr" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
                        </div>
                    </div>

                    
                </div>
                <!----->

            </div>

            <div id="collapseThree"  class="collapse show" aria-labelledby ="headingTwo">

                <!----->
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <hr>
                        <span class="hr-aps"><i class="fas fa-user-tie"></i>Published Details</span>
                    </div>
                    <div class="col-sm-12 form-group">

                        <table class="table" id="tblFinanceFilled" style="display:none;">
                            <tr>
                                <th >Payment in favour of</th>
                                <th width="150">Recipient Bank Details</th>
                                <th width="150">Bank Name</th>
                                <th width="150">Account No</th>
                                <th width="150">IFSC Code</th>
                                <th width="100">Amount</th>

                                <th width="150">Date</th>
                                <th width="100">Amount</th>
                                <th width="150">UTR No</th>
                                <th>Remarks</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12 form-group">


                        <table class="table  " id="tblActivity1">
                            <tr>
                                <th>Payment in favour of</th>
                                <th>Recipient Bank Details</th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>IFSC Code</th>                                
                                <th>Amount</th>
                                <th>Remove</th>
                            </tr>
                            <tr>
                                <td>

                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control msmPayment" placeholder="Enter" id="txtPaymentFavor">
                                    <span id="sptxtPaymentFavor" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td width="200">

                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control msmPayment" placeholder="Enter" id="txtBankDetails">
                                    <span id="sptxtBankDetails" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td>

                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control msmPayment" placeholder="Enter" id="txtBankName">
                                    <span id="sptxtBankName" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td width="200">

                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control allow_numeric msmPayment" placeholder="Enter" id="txtAccountNo">
                                    <span id="sptxtAccountNo" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td width="150">
                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control  msmPayment" placeholder="Enter" id="txtIFSCCode">
                                    <span id="sptxtIFSCCode" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td width="150">
                                    <input type="text" alt="" onchange="HideErrorMessage(this)" class="form-control allow_numeric msmPayment" placeholder="Enter" id="txtAmount">
                                    <span id="sptxtAmount" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>





                                <th></th>
                            </tr>
                        </table>
                        <div class="text-right" id="dvBankDetails">
                            <button onclick="AddBankDetails()" class="btn green-clr" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
                        </div>
                    </div>

                    <div class="col-sm-12 m-0"></div>


                    <div class="col-sm-6 mx-auto" id="Div1" style="display: none;">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <hr>
                                <span class="hr-aps"><i class="fas fa-ban"></i>Reject</span>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Please share the reason for Rejection <sup>*</sup></label>
                                <textarea class="form-control h-100 maxSize[1200] Reject" placeholder="Explain Hare" onchange="HideErrorMessage(this)" id="txtRejectComment"></textarea>
                                <span id="sptxtRejectComment" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button onclick="SaveReject()" type="button" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa-solid fa-paper-plane"></i>Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a href="#" id="btnSaveLive" data-toggle="modal" data-target="#live" class="btn mtr-o-grn btn-l ripplelink pull-right"><i class="fas fa-rocket"></i>Live</a>
                        <a href="#" style="display:none;" id="btnSaveRFP" onclick="SaveRFPPublished()" type="submit" class="btn blk-gdn-btn btn-l" name="Command" value="Add"><i class="fas fa-share-square"></i>Forward to Finance</a>
                        <button type="button" id="btnRejectRFP" class="btn rjt-btn btn-l " name="Command" value="Add" onclick="divVisibility('Div1');"><i class="fa fa-ban" aria-hidden="true"></i> Reject</button>
                        <a href="ProcurementUserRequest" class="btn cnl-btn ripplelink"><i class="fas fa-times"></i>Close</a>
                    </div>
                </div>
                <!----->

            </div>

        </div>
    </div>

    <!----->







</div>
<!-- ENd -->
<div class="modal fade" id="live">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-file-alt"></i> Published At
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <table class="table" id="tblDocumentList">
                            <thead>
                                <tr>
                                    <th>Source <sup>*</sup> </th>
                                    <th width="210">Attachment <sup>*</sup>  </th>
                                    <th>Remarks/Link <sup>*</sup></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        <input type="Text" placeholder="Enter" id="txtDocOtherNature" class="UploadOtherDocument" onchange="HideErrorMessage(this)">
                                        <span id="sptxtDocOtherNature" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" id="fileDocOtherUpload" placeholder="Enter" name="">
                                        <span id="spfileDocOtherUpload" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        <label id="lblfileName"></label>
                                    </td>
                                    <td>
                                        <textarea class="form-control UploadOtherDocument maxSize[1200]" placeholder="Enter" id="txtDocOtherRemark"></textarea>
                                        <span id="sptxtDocOtherRemark" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                    </td>
                                    <td>
                                        <a title='Click to Remove' data-toggle='tooltip' data-original-title='Click to Remove'><i class='fas fa-window-close m-0 red-clr' aria-hidden='true'></i> </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="text-right">
                            <button type="button" onclick="AddDocumentForLive()" class="btn green-clr  m-0"><i class="fas fa-plus"></i>Add</button>
                        </div>
                    </div>

                    <div class="col-lg-12 text-center mt-3">
                        <button onclick="SaveLiveDetails()" class="btn mtr-o-grn btn-l ripplelink pull-right" name="Command" value="Add"><i class="fa fa-paper-plane"></i>Submit</button>

                        <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i> Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="showimg">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-images"></i>Agreed scope of work
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <img src="images/login-bg.jpg" alt="" class="attimg" />
                <div class="text-center mt-3">

                    <button type="button" data-dismiss="modal" class="btn cnl-btn ripplelink  pull-right"><i class="fas fa-times"></i> Close</button>
                </div>
            </div>
        </div>

    </div>

</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
    
    <script src="~/Areas/Procurement/DevScript/RFPProcessPending.js"></script>

    <script>
		 var IsEDUser = '@ViewBag.IsED';
       var loggedinUserid = '@ViewBag.UserId';
		var loggedinUserName = '@ViewBag.UserName';
		var UserGrade = '@ViewBag.Grade';
        var IsPM = '@ViewBag.IsPM';
        var VendorRegId = '@ViewBag.VendorRegId';
        var IsProcurementApprover = '@ViewBag.IsProcurementApprover';
        var RequestId = '@ViewBag.RequestId';
    </script>
}

<script>
    $(document).ready(function () {
        $(".applyselect").select2();
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    const rmatch = document.querySelector(".showatchimg");
    const smatch = document.querySelector(".shwoinput");
    const button = document.querySelector(".rmatch");
    button.addEventListener("click", () => {
        if (rmatch.style.display !== "none") { rmatch.style.display = "none"; smatch.style.display = "block"; }
        else { rmatch.style.display = "block"; smatch.style.display = "none"; }
    });
</script>


<script>
    var MenuID = Number(129);
     

    function SuccessToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-check green-clr ");
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
    }

    function FailToaster(Message) {
        $("#toastMsg").html(Message);
        $("#toasticon i").addClass("fas fa-exclamation-triangle red-clr");
        var x = document.getElementById("toast")
        x.className = "show toaster-warning";
        setTimeout(function () { x.className = x.className.replace("show toaster-warning", ""); }, 4000);
    }


    function ValidateFile(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(PDF|DOCX|TXT|XLS|XLSX)$/)) {

            var filesize = 3145728;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("File size should be less than 3 MB");
                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid file type , please select valid file again");
            document.getElementById(FileName).value = '';
            return result;
        }

    }

    function ValidateImage(FileName) {

        var result = false;
        if (document.getElementById(FileName).files[0].name.toUpperCase().match(/\.(JPG|JPEG|PNG|PDF)$/)) {

            var filesize = 2097152;
            var sizeinbytes = document.getElementById(FileName).files[0].size;
            if (filesize >= sizeinbytes) {
                result = true;
            }
            else {
                FailToaster("Image should be less than 2 MB");

                document.getElementById(FileName).value = '';
                result = false;

            }
            return result;
        }
        else {
            FailToaster("Invalid Image type , please select valid Image");
            document.getElementById(FileName).value = '';
            return result;
        }

    }
</script>
<script>
    // JavaScript Document
    $(function () {
        $('#js-nav-toggle').click(function (e) {
            e.preventDefault();
            $("html").toggleClass("is-sideopen");
            $("#js-nav-toggle").toggleClass("is-active");
        });

        var $content = $('.l-contents');
        var $header = $('.l-header');


        $content.click(function () {
            $("html").removeClass("is-sideopen");
        });


        $header.click(function () {
            $("html").removeClass("is-sideopen");
        });


    });


    $(function () {

        var $dropdown = $('.js-dropdown');
        var $content = $('.l-contents');
        var $toggle = $('#js-nav-toggle');


        $('.js-dropdown-menu').hide();
        $dropdown.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $content.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });


        $toggle.click(function () {
            $('i').removeClass('is-rotate');
            $('.js-dropdown-menu').slideUp(200);
            if ($('+.js-dropdown-menu', this).css('display') == 'none') {
                $('i', this).addClass('is-rotate');
                $('+.js-dropdown-menu', this).slideDown(200);
            }
        });

    });

    $(function () {
        $('.is-ac-close').hide();
        $(".is-ac-click").on("click", function () {
            if ($(this).children('i').is('.fa-angle-right')) {
                $(this).children('i')
                    .removeClass('fa-angle-right')
                    .addClass('fa-angle-down');
            } else {
                $(this).children('i')
                    .removeClass('fa-angle-down')
                    .addClass('fa-angle-right');
            }
            $(this).next().slideToggle(200);
        });

        $('.is-ac-close').hide();
        $(".is-ac-bar").on("click", function () {

            if ($(this).find('i').is('.fa-caret-down')) {

                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-up');
            } else {
                $(this).find('i')
                    .removeClass()
                    .addClass('fa fa-caret-down');
            }
            $(this).next().slideToggle(200);
        });
    });




    //---------------------------------------------------
    // ▼　tab
    //---------------------------------------------------
    $(function () {
        var rwdTab = $('.c-tab'),
            switchPoint = 768,
            fadeSpeed = 300,
            slideSpeed = 300;

        var tabBtn = rwdTab.children('.c-tab-panel').children('.c-tab-heading'),
            contentsArea = rwdTab.children('.c-tab-panel').children('.c-tab-body');

        tabBtn.on('click', function () {
            if (!$(this).hasClass('c-tab-active')) {
                tabBtn.removeClass('c-tab-active');
                $(this).addClass('c-tab-active');

                if (window.innerWidth > switchPoint) {
                    contentsArea.fadeOut(fadeSpeed);
                    $(this).next().fadeIn(fadeSpeed);
                } else {
                    contentsArea.slideUp(slideSpeed);
                    $(this).next().slideDown(slideSpeed);
                }
            }
        });

        tabBtn.first().click();
    });



</script>
<!-- required -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        jQuery('.stellarnav').stellarNav({
            theme: 'dark',
            breakpoint: 960,
            position: 'right',

        });
        $('.notifyjs-corner').empty();
    });
</script>
<!-- required -->
<script>
    $("document").ready(function () {

        $('.dropdown-menu').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });
    });


</script>
<script>

    var links = document.querySelectorAll('.ripplelink');

    for (var i = 0, len = links.length; i < len; i++) {
        links[i].addEventListener('click', function (e) {
            var targetEl = e.target;
            var inkEl = targetEl.querySelector('.ink');

            if (inkEl) {
                inkEl.classList.remove('animate');
            }
            else {
                inkEl = document.createElement('span');
                inkEl.classList.add('ink');
                inkEl.style.width = inkEl.style.height = Math.max(targetEl.offsetWidth, targetEl.offsetHeight) + 'px';
                targetEl.appendChild(inkEl);
            }

            inkEl.style.left = (e.offsetX - inkEl.offsetWidth / 2) + 'px';
            inkEl.style.top = (e.offsetY - inkEl.offsetHeight / 2) + 'px';
            inkEl.classList.add('animate');
        }, false);
    }
</script>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 250) {
            $('.header').addClass("sticky");
        }
        else {
            $('.header').removeClass("sticky");
        }
    });


</script>

<script type="text/javascript">
    $(".but").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
        // Toggle this window open/close
        $(this).next(".content").stop().slideToggle(300);
        //hitter test//
        $(".hitter").show()
    });

    $(".hitter").click(function () {
        // Close all open windows
        $(".content").stop().slideUp(300);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function () {
            $('.selectedId').prop('checked', this.checked);
        });

        $('.selectedId').change(function () {
            var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
            $('#selectall').prop("checked", check);
        });
    });
</script>
<script>
    function valueChanged() {
        if ($('.sltchk').is(":checked"))
            $(".hide").show();
        else
            $(".hide").hide();
    };
</script>
<script type="text/javascript">
    var divs = ["Div1", "Div3"];
    var visibleDivId = null;
    function divVisibility(divId)
    {
        if (visibleDivId === divId) {
            visibleDivId = null;
        } else {
            visibleDivId = divId;
        }
        hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
        var i, divId, div;
        for (i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);
            if (visibleDivId === divId) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    }
</script>
<script>
    function show2() {
        document.getElementById('div1').style.display = 'none';
    }
    function show1() {
        document.getElementById('div1').style.display = 'block';
    }
</script>

 