@model IList<PMS.PMSStatus>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card p-0">
            <div class="card-body p-0">
                <div class="x_content table-currency mt-0">
                    <div class="table-responsive">
                        <table id="tablePMSStatus" class="table mt-0" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S.no.</th>
                                    <th>Employee Code</th>
                                    <th>Employee Name</th>
                                    <th>Work Location</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Supervisor</th>
                                    <th>AppraiserName</th>
                                    <th>ConfirmerName</th>
                                    <th>Status</th>
                                </tr>
                                <tr class="searchbar">
                                    <th class="searchhide"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int Count = 0;}
                                @foreach (Mitr.Models.PMS.PMSStatus item in Model)
                                {
                                    Count++;
                                    <tr>
                                        <td>@Count</td>
                                        <td>@item.EmployeeCode</td>
                                        <td>@item.EmployeeName</td>
                                        <td>@item.WorkLocation</td>
                                        <td>@item.Designation</td>
                                        <td>@item.Department</td>
                                        <td>@item.Supervisor</td>
                                        <td>@item.AppraiserName</td>
                                        <td>@item.ConfirmerName</td>
                                        <td>@item.Status</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--- -->

@section scripts    {

    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

    <script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>

}