@model PMS

<div class="inner-main mb-5 pb-0">
<div class="row">
	<div class="col-sm-5">
		<h1 class="heading-one mb-3">Performance Appraisal Activation</h1>
	</div>
	<div class="col-sm-7 text-right">
		<a class="btn blk-gdn-btn btn-l ripplelink btnsysEMP">
			<i class="fa fa-sync"></i> Load Employees
		</a>
	</div>
</div>

	@using (Ajax.BeginForm("_AppraisalActivation", "PMS",
			new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/PMS/_AppraisalActivation") },
			  new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnBegin = "ShowLoadingDialog()" },
		new { @id = "_AppraisalActivationFrom" })
		)
	{
	<div class="row">

		<div class="col-lg-2 col-md-2 col-sm-2 slt-srh   form-group">
			<label class="lbl-abs">Select Appraisal Period</label>
			@Html.DropDownListFor(x => Model.FYID, new SelectList(ViewBag.FinYearList, "ID", "Year", Model.FYID), "Select Appraisal Period",
	new { @class = "form-control  applyselect ddapplyaction" })
			@Html.ValidationMessageFor(model => Model.FYID, "", new { @class = "text-danger" })
		</div>
		
		<div style="display:none">
			<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Search</button>
		</div>
	</div>
	}

	<div id="TargetDiv">@Html.Partial("_Loading")</div>
</div>



@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	@System.Web.Optimization.Scripts.Render("~/assets/design/Scripts/AddInit.js")

	<script>
		$(document).ready(function () {
			$("#btnSearch").click();
		});

		$('.ddapplyaction').bind("change", function () {
			$("#btnSearch").click();
		});


		function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);
			$('[data-toggle="tooltip"]').tooltip();
			$(".applyselect").select2();
		}

		function OnSuccessAppraisalActApproval(obj) {
		
			CloseLoadingDialog();
			if (obj.Status) {
				debugger;
				SuccessToaster(obj.SuccessMessage);
				$("#btnSearch").click();
				$("#AddModal").modal("hide");
				location.reload();
			}
			else {
				FailToaster(obj.SuccessMessage);
			}
		}
		$(".btnsysEMP").on('click', function (e) {
			e.preventDefault();
			SysEMP();
		});

		function SysEMP() {
			ShowLoadingDialog();
			var FYID = $("#FYID").val();
				$.ajax({
					url: "/CommonAjax/AutoSync_EMPwithPMSJson",
					type: "get",
					data: { src: EncryptQueryStringJSON(MenuID + "*" + "/CommonAjax/AutoSync_EMPwithPMSJson"), FYID: FYID },
					success: function (data) {
						if (data.Status) {
							SuccessToaster(data.SuccessMessage);
							$("#btnSearch").click();
						}
						else {
							FailToaster(data.SuccessMessage);
						}
						CloseLoadingDialog();
					},
					error: function (er) {
						CloseLoadingDialog();
					}
				});
			
		}

	</script>

}