@model PMS

<div class="inner-main pb-0">
	@Html.Partial("ListHeader_Partial", "Additional Reviewer")

	@using (Ajax.BeginForm("_CommentRequests", "PMS",
			new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/PMS/_CommentRequests") },
			  new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnBegin = "ShowLoadingDialog()" },
		new { @id = "_CommentRequestsFrom" })
		)
	{
		<div class="row">

			<div class="col-lg-2 col-md-2 col-sm-2 slt-srh form-group">
				<label class="lbl-abs">Select Appraisal Period</label>
				@Html.DropDownListFor(x => Model.FYID, new SelectList(ViewBag.FinYearList, "ID", "Year", Model.FYID), "Select Period",
		new { @class = "form-control  applyselect ddapplyaction" })
				@Html.ValidationMessageFor(model => Model.FYID, "", new { @class = "text-danger" })
			</div>
			<div style="display:none">
				<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Search</button>
			</div>
		</div>
	}

	<div id="TargetDiv">@Html.Partial("_Loading")</div>
</div>

@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	@System.Web.Optimization.Scripts.Render("~/assets/design/Scripts/AddInit.js")

	<script>
		$(document).ready(function () {
			$("#btnSearch").click();
		});

		$('.ddapplyaction').bind("change", function () {
			$("#btnSearch").click();
		});


		function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);
			$('[data-toggle="tooltip"]').tooltip();
			$(".applyselect").select2();
		}

		function GetEvaluation(obj) {
			var FYID = $(obj).closest("tr").find("input:hidden[name=FYID]").val();
			var EMPID = $(obj).closest("tr").find("input:hidden[name=EMPID]").val();
			if (FYID && EMPID)
			{
				var url = "/PMS/Evaluation";
				var src = url + "?src=" + EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/PMS/Evaluation" + "*" + FYID + "*" + EMPID);
				ShowLoadingDialog();
				window.location.href = src;
				
			}
		}
	</script>

}