@model Mitr.Models.AdvancePaymentUser

<div id="approved" class="card tab-pane  " role="tabpanel" aria-labelledby="tab-b">
	<div class="card-header" role="tab" id="heading-A">
		<h5 class="mb-0"> <a data-toggle="collapse" href="#collapse-b" aria-expanded="true" aria-controls="collapse-b">Approved <i class="fas fa-check"></i></a> </h5>
	</div>
	<div id="collapse-b" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-b">
		<div class="table-responsive">
			<table id="ApprovedTable" class="table table-striped table-bordered dt-responsive nowrap tbltick new_width tblapproved" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
				<thead>
					<tr>
						<th width="10">S.No</th>
						<th width="80">Request No</th>
						<th width="90">Request Date</th>
						<th width="240">Traveller's Name</th>
						<th width="200">Project Code</th>
						<th width="200">Stage</th>
						<th width="100">Amount</th>
						<th width="100">Paid Amount</th>
						<th width="80">Paid Date</th>
						<th width="60">View</th>
					</tr>
					<tr class="searchbar">
						<th class="searchhide">S No.</th>
						<th></th>
						<th class="searchhide">Request Date</th>
						<th></th>
						<th></th>
						<th> </th>
						<th class="searchhide">Amount</th>
						<th class="searchhide">Paid Amount</th>
						<th class="searchhide">Paid Date</th>
						<th class="searchhide">View</th>
					</tr>
				</thead>
				<tbody>
					@{ int ApprovedProjectCount = 0;
						var approvedlist = Model.listfinancePayment_Staffs.Where(x => x.approved == 0 || x.approved == 1 || x.approvedammount == 0 || x.approvedammount == 1).ToList();
					}
					@foreach (var item in approvedlist.Where(x => x.Paid_Amount > 0))
					{
						ApprovedProjectCount++;
						<tr>
							<td>@ApprovedProjectCount</td>
							<td>TRN-@item.req_no</td>
							<td>@item.req_Date</td>
							<td>@item.travller_name</td>
							<td>@item.doc_no</td>
							<td>@item.Stage</td>
							<td class="text-right">
								@string.Format("{0:c}", @item.totaladvanceroundoff)

							</td>
							<td class="text-right">
								@string.Format("{0:c}", @item.Paid_Amount)

							</td>
							<td>@item.Paid_Date</td>
							<td>
								@if (item.Stage == "Travel Expence")
								{
									<a href="@Url.Action("TravelExpensePaymentPrint",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Travel/TravelExpensePaymentPrint*"+item.req_no+"*"+"TravelExpense") })" target="_blank" class="green-clr"><i class="fa fa-print"></i>Print</a>
								}
								else
								{
									<a href="@Url.Action("FinancePaymentPrint",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Travel/FinancePaymentPrint*"+item.req_no+"") })" target="_blank" class="green-clr"><i class="fa fa-print"></i>Print</a>
								}

							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

