@model Mitr.Models.ConsolidatedActivityLog

<div class="bgbox">
    <div class="row">
        <div class="col-sm-2 mb-0 align-self-center">
            <img src="https://mitr2.sahajapps.com//assets/design/images/c3.png" alt="">
        </div>
        <div class="col-sm-8 mb-0 text-center align-self-center">
            <strong class="cntitle">Centre for Catalyzing Change</strong><br>
            <small class="fn-md">C-27, 2nd Floor Qutab Institutional Area, New Delhi - 110 016</small>
        </div>

        <div class="col-sm-2 mb-0 align-self-center text-right">
            <img src="https://mitr2.sahajapps.com//assets/design/images/mitr-logo.png" alt="Mitr LogoEW">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12 text-center">
        <h2 class="heading-one mb-0">
            <u>
                Activity Log Details for the Financial Year - @Model.FinancialYear
            </u>
        </h2>
    </div>
    <div class="col-sm-8 mx-auto">
        <table id="tblActivityLogReport" class="table tdbrd-none">
            <tbody>
                <tr>
                    <td>Employee Name</td>
                    <td>@Model.EmployeeName </td>
                    <td width="200">Employee Code</td>
                    <td>@Model.EmployeeCode</td>
                </tr>

                <tr>
                    <td>
                        Designation
                    </td>
                    <td>@Model.Designation</td>

                    <td>Location</td>
                    <td>@Model.WorkLocation</td>
                </tr>
                <tr>

                    <td>Date of Joining</td>
                    <td>@Model.Dateofjoining</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-5">
                <h2 class="heading-one">@ViewBag.FromDate - @ViewBag.ToDate</h2>
            </div><div class="col-sm-6">
                <button type="button" class="btn blk-gdn-btn btn-l ripplelink" onclick="exportReportToExcelAll()"><i class="fas fa-file-excel"></i>Export to Excel</button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblActivity" class="table scd-tbl-bg table-stripted mb-0 mt-0">
                <thead>
                    <tr>
                        <th width="10">SR.No</th>
                        <th width="100">Month</th>
                        <th width="100">Year</th>
                        <th width="400">Project</th>
                        <th width="400">Activity 	</th>
                        <th width="500">Description</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int Count = 0;}
                    @foreach (Mitr.Models.ConsolidatedActivityLog item in Model.Emplist)
                    {
                        Count++;
                        <tr class="trrowred">
                            <td>@Count</td>
                            <td>@item.Month</td>
                            <td>@item.Year</td>
                            <td>@item.ProjectName</td>
                            <td>@item.Activity</td>
                            <td>@item.Description</td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<button type="button" class="btn blk-gdn-btn btn-l ripplelink" onclick="exportReportToExcelAll()"><i class="fas fa-file-excel"></i>Export to Excel</button>*@
</div>
<script>
    function exportReportToExcelAll() {
        var FDate = $("#Date").val();
        var TDate = $("#ToDate").val();
        var Emp_id = $("#Empid option:selected").val();
        if (Emp_id == undefined)
            Emp_id = ''
        exportToExcelSahaj('tblActivity', 'Consolidated Activity Log report' + Emp_id + '_' + FDate + '_' + TDate);
    }

</script>

