@using System.Data
@model DataSet
@{
	long loginEMPID = 0;
	long.TryParse(clsApplicationSetting.GetSessionValue("EMPID"), out loginEMPID);
	bool IsED = false;
	if (clsApplicationSetting.GetSessionValue("IsED") == "Y")
	{
		IsED = true;
	}
}
<div class="x_content table-currency mt-2">
	<div class="table-responsive">
		<table id="tableLeave" class="table table-striped table-bordered  dt-responsive nowrap tbltick new_width" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
			<thead>
				<tr>
					<th  width="30">S.No.</th>
					<th width="60">Request No</th>
					<th width="80">Employee Code</th>
					<th>Employee Name</th>
					<th  width="70">Request Date</th>
					<th  width="70">Leave Type</th>
					<th  width="70">Start Date</th>
					<th  width="70">End Date</th>
					<th width="70">Leave Hours</th>
					<th width="100">Action</th>
				</tr>
				<tr class="searchbar">
					<th class="searchhide"> </th>
					<th></th>
					<th></th>

					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th class="searchhide"> </th>
				</tr>
			</thead>
			<tbody>
				@{ int Count = 0;}
				@foreach (DataRow item in Model.Tables[0].Rows)
				{
					Count++;
					<tr>
						<td>
							@Count
						</td>
						<td> @item["Doc_No"]</td>
						<td> @item["Emp_Code"]</td>
						<td> @item["Emp_name"]</td>
						<td> @Convert.ToDateTime(item["Request_Date"]).ToString("dd-MMM-yyyy")</td>
						<td>
							@item["leave_name"]

							<span class="float-right">
								@if (Convert.ToInt32(item["RFC"]) > 0)
								{
									<span class="badge red-clr " data-toggle="tooltip" data-original-title="Request for cancellation">RFC</span>

								}
								@if (item["Approved"].ToString() == "3" || item["Approved"].ToString() == "4" || item["Approved"].ToString() == "5")
								{
									<span class="badge red-clr " data-toggle="tooltip" data-original-title="Exceptional Leave Request">ELR</span>
								}
							</span>
						</td>

						<td> @Convert.ToDateTime(item["Start_Date"]).ToString("dd-MMM-yyyy")</td>
						<td> @Convert.ToDateTime(item["End_Date"]).ToString("dd-MMM-yyyy")</td>

						<td> @item["hoursDayWise"]</td>

						<td class="text-right">
							<div>
								<input type="hidden" name="AR" value="@item["AttachmentRequired"]" />
								<input type="hidden" name="L" value="@item["ID"]" />
								<input type="hidden" name="E" value="@item["EMP_ID"]" />
								<input type="hidden" name="EN" value="@item["EMP_Name"]" />
								<input type="hidden" name="EC" value="@item["EMP_Code"]" />
								<input type="hidden" name="D" value="@item["Start_Date"]" />
								<input type="hidden" name="DocNo" value="@item["Doc_No"]" />
								<input type="hidden" name="LE" value="@(loginEMPID==Convert.ToInt64(item["EMP_ID"])?"Y":"N")" />

								@if (item["Approved"].ToString() == "0" || (IsED && (item["Approved"].ToString() == "0" || item["Approved"].ToString() == "3")))
								{
									<a class="btn-a anchorApproved" data-toggle="tooltip" data-original-title="Click here for approve"><i class="fas fa-check"></i></a>
								}
								@if (Convert.ToInt32(item["AttachmentRequired"]) > 0)
								{
									<a class="btn-c aLeaveAttachment" data-toggle="tooltip" data-original-title="View Documents"><i class="fa fa-paperclip darkclr"></i></a>
								}
								@*@if (Convert.ToInt32(item["Approved"]) == 0)
									{
										<a class="btn-c deleteRequest" data-toggle="tooltip" data-original-title="Delete request"><i class="fas fa-trash-alt red-clr"></i></a>
									}*@
								<a class="btn-g anchorpopup" data-toggle="tooltip" data-original-title="View leave request"><i class="fas fa-ellipsis-h"></i></a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/PagesJS/LeaveDashboard.js"))
