@using System.Data
@model Mitr.Models.AllListModal

@section style{
	@System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}

<div class="inner-main">
	<div class="right_col" role="main">
		@Html.Partial("HeaderMsg_Partial")
		<h1 class="heading-one">My Team's Request</h1>

		@using (Ajax.BeginForm("_LeaveRequestApproval", "Leave",
		   new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Leave/_LeaveRequestApproval") },
		   new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget" },
	   new { @id = "_LeaveRequestApprovalFrom" })
	   )
		{

			<div class="tab-main ">
				<div class="row text-clr">
					<div class="col-md-12">

						<ul id="tabs" class="nav nav-tabs " role="tablist">

							<li class="nav-item"> <a tabvalue="0" class="nav-link active ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fal fa-envelope-open"></i>Team Requests</a> </li>
							@*<li class="nav-item"> <a tabvalue="3" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-star"></i>Exceptional</a> </li>*@
							<li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fa fa-check" aria-hidden="true"></i>Approved</a></li>
							<li class="nav-item"> <a tabvalue="2" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-ban"></i>Cancelled</a> </li>
						</ul>
					</div>

					<div style="display:none">
						@Html.HiddenFor(model => model.Approve)
						<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search">
							<i class="fas fa-search"></i>Search
						</button>
					</div>

				</div>
			</div>
		}

		<div id="TargetDiv">@Html.Partial("_Loading")</div>

	</div>
</div>


@* My Modal Start *@
<!-- TASK Modal -->
<div class="modal  fade pop-dgn leave-pop" id="LeaveModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="close" data-dismiss="modal">&times;</div>

			<!-- Modal body -->
			<div class="modal-body p-0">
				<div id="ModalTargetDiv"></div>
			</div>
		</div>
	</div>
</div>
@* My Modal End *@

<div class="modal fade pop-dgn" id="ModalLeaveAttachment">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header blk-gdn-btn">
				<h4 class="modal-title">Leave Attachment <span class="spnhead"></span> </h4>
				<div class="close" data-dismiss="modal">&times;</div>
			</div>
			<div class="modal-body">
				<div id="LeaveAttachmentTarget"></div>
			</div>
		</div>
	</div>
</div>


@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
	<script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs");
	
	<script>
		$(document).ready(function () {
			$("#btnSearch").click();
		});
		$('.AnchorApproval').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var att = $(this).attr("tabvalue");
			$(".AnchorApproval.active").removeClass("active");
			$(this).addClass("active");
			$("#Approve").val(att);
			ShowLoadingDialog();
			$("#btnSearch").click();
		});


		function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);
			$('[data-toggle="tooltip"]').tooltip();
			DatatableScriptsWithColumnSearch("tableLeave");

		}

	</script>
}