@using System.Data
@model Mitr.Models.LeaveNonMitrMonth
@{
    ViewBag.Title = "Leave NON MITR";
}
@Html.Partial("HeaderMsg_Partial")
<div class="inner-main mb-5">
    @using (Ajax.BeginForm("_LeaveNonMITR", "Leave",
      new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Leave/_LeaveNonMITR") },
      new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnFailure = "CloseLoadingDialog()", OnBegin = "ShowLoadingDialog();" },
   new { @id = "_LeaveNonMITRFrom" })
   )
    {
        <input type="hidden" id="hfTab" name="hfTab" value="LEAVE" />
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-one mb-3">User’s Screen </h1>
            </div>
            <div class="col-sm-6 col-md-2 wh-575  form-group ">
                <label class="lbl-abs">Select Month</label>
                @Html.TextBoxFor(model => model.Month, new { @class = "form-control actdate h-30", @type = "month" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6 col-md-3 wh-575 form-group slt-dgn slt-45">
                <label class="lbl-abs">Select Employee</label>
                @*@Html.DropDownListFor(n => n.Empids, new SelectList(Model.EmpList, "ID", "Name", Model.Empids), "All", new { @Multiple = "", @class = "form-control  applyselect" })*@
                @Html.HiddenFor(x => Model.Empids)
                <select class="applyselect" multiple="multiple" id="ddlEmp">
                    @if (Model.EmpList != null)
                    {
                        foreach (var item in Model.EmpList)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-6 col-md-3 wh-575 form-group slst-dgn slt-45">
                <label class="lbl-abs">Leave Type</label>
                @*@Html.DropDownListFor(n => n.LeaveTypeids, new SelectList(Model.LeaveList, "ID", "Name", Model.LeaveTypeids), "All", new { @Multiple = "", @class = "form-control  applyselect" })*@
                @Html.HiddenFor(x => Model.LeaveTypeids)
                <select class="applyselect" multiple="multiple" id="ddlLeave">
                    @if (Model.LeaveList != null)
                    {
                        foreach (var item in Model.LeaveList)
                        {
                            if (string.IsNullOrEmpty(Model.LeaveTypeids))
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                            else
                            {
                                <option @(("@" + Model.LeaveTypeids.Replace(",", "@") + "@").Contains("@" + item.ID.ToString() + "@") ? "selected" : "") value="@item.ID">@item.Name</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="col-sm-6 col-md-3 wh-575 form-group slst-dgn slt-45">
                <button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Refresh</button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-main mb-3">
				<ul id="tabs" class="nav nav-tabs " role="tablist">
					<li class="nav-item"> <a id="tab-A" href="#lve" onclick="List('LEAVE')" class="nav-link ripplelink active" data-toggle="tab" role="tab"><i class="fas fa-list"></i>Leave Entry</a> </li>
					<li class="nav-item"> <a id="tab-B" href="#le" onclick="List('DAILYLOG')" class="nav-link ripplelink " data-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-hourglass-end"></i>Log Entry</a> </li>
					<li class="nav-item"> <a id="tab-C" href="#ml" onclick="List('MONTHLYLOG')" class="nav-link ripplelink " data-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-calendar-alt"></i>Monthly Log</a> </li>
					<li class="nav-item"> <a id="tab-D" href="#mls" onclick="List('SUBMITTED')" class="nav-link ripplelink " data-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-calendar-alt"></i>Submitted</a> </li>
				</ul>
				<div id="content" class="tab-content p-0" role="tablist">
					<div id="lve" class="card tab-pane fade active show " role="tabpanel" aria-labelledby="tab-A">
						<div class="card-header" role="tab" id="heading-A">
							<h5 class="mb-0">
								<a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">Leave Entry <i class="fas fa-clock"></i></a>
							</h5>
						</div>
						<div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
							<div class="card-body p-0">
								<div id="TargetDiv"></div>
							</div>
						</div>
					</div>
					<div id="le" class="card tab-pane fade  " role="tabpanel" aria-labelledby="tab-B">
						<div class="card-header" role="tab" id="heading-c">
							<h5 class="mb-0">
								<a data-toggle="collapse" href="#collapse-c" aria-expanded="true" aria-controls="collapse-c">Log Entry <i class="fas fa-clock"></i></a>
							</h5>
						</div>
						<div id="collapse-c" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-c">
							<div class="card-body p-0">
								<div id="TargetDivLogEntry"></div>
							</div>
						</div>

					</div>
					<div id="ml" class="card tab-pane fade  " role="tabpanel" aria-labelledby="tab-C">
						<div class="card-header" role="tab" id="heading-b">
							<h5 class="mb-0">
								<a data-toggle="collapse" href="#collapse-b" aria-expanded="true" aria-controls="collapse-b">Monthly Log <i class="fas fa-clock"></i></a>
							</h5>
						</div>
						<div id="collapse-b" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-b">
							<div class="card-body p-0">
								<div id="TargetDivMonthlyLog"></div>
							</div>
						</div>
					</div>
					<div id="mls" class="card tab-pane fade  " role="tabpanel" aria-labelledby="tab-D">
						<div class="card-header" role="tab" id="heading-d">
							<h5 class="mb-0">
								<a data-toggle="collapse" href="#collapse-d" aria-expanded="true" aria-controls="collapse-b">Submitted <i class="fas fa-clock"></i></a>
							</h5>
						</div>
						<div id="collapse-d" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-d">
							<div class="card-body p-0">
								<div id="TargetDivSubmitted"></div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>


</div>

<div class="modal  fade pop-dgn leave-pop" id="LeaveModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close" data-dismiss="modal">&times;</div>
            <div class="modal-body p-0">
                <div id="ModalTargetDiv"></div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="Modalcllll">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">CL/SL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div id="TagetDivLeaveAttachment1"></div>


                @*@using (Ajax.BeginForm("SaveMasterAll", "Master",
                            new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID + "*" + "/Master/SaveMasterAll*" + ViewBag.ID) },
                             new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
                                new { @id = "SaveMasterAllForm" })
                        )
                        {

                      <div class="row d-flex mt-2 mb-2">
                        <div class="col-lg-6 wh-575 form-group">
                            <input type="hidden" id="hfAttachmentNo" name="hfAttachmentNo" value="0" />
                            <label>Physical Fitness Certificate</label>
                            <input class="form-control " type="file" id="txtPhysical" name="txtPhysical" placeholder="" value="">
                        </div>
                        <div class="col-lg-6 wh-575 form-group">
                            <label>Medical Certificate</label>
                            <input class="form-control " type="file" id="txtMedical" name="txtMedical" placeholder="" value="">
                        </div>
                        <div class="col-sm-12 text-center mt-2">
                            <button type="button" class="btn cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                            <button type="button" onclick="SaveAttachment()" class="btn mtr-o-grn btn-l ripplelink " name="Command" value="Add"><i class="fas fa-paper-plane"></i>Submit</button>
                        </div>
                    </div>
                        }*@
            </div>
        </div>
    </div>
</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))


    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/jquery.autocomplete.min.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncDialogUtility.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/PagesJS/ApplyLeaveNonMITR.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/PagesJS/Dailylog_ComOffRequestNonMitr.js"))

}

<script type="text/javascript">
    $(document).ready(function () {
        $('.btnNext').click(function () {
            alert('');
            $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
            $('.nav-tabs .active').parent().prev('li').find('a').addClass("prvactive");
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
        });
    });
    function checkLeave(count) {
    debugger;
    alert(count);
    }
</script>
