

@model Mitr.Models.ConsolidateSalaryReport
@{
    int countD = 0;
   
}
<div class="three-sticky device-hgt-400">

    @*<input type="hidden" class="ComponentsList" value="@Components" />*@
    <table id="tblExport" class="table tds-fism amtwidth-inpt table-bordered table-striped m-0">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>From Month</th>
                <th>To Month</th>
                <th>Type</th>
                <th class="text-center" width="100">Code</th>
                <th>Employee Name</th>
                <th>Employment Type</th>
                <th class="text-center">Sub-Category</th>
                <th class="text-center">Hourly Rate</th>

                <th class="text-center">Annual Leave Accural Hrs</th>
                <th class="text-center">Annual Leave Accural Amount</th>
                <th class="text-center">Annual Leave Taken Hrs</th>
                <th class="text-center">Annual Leave Taken Amount</th>
            </tr>
            <tr class="sticky-sbhead csltop">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int SrNo = 1;}
            @for (int i = 0; i < Model.Emplist.Count; i++)
            {
                <tr>
                    <td>@SrNo</td>
                    <td>@Model.Emplist[i].FromDate</td>
                    <td>@Model.Emplist[i].ToDate</td>
                    <td>@Model.Emplist[i].Type</td>
                    <td><input type="hidden" class="Empcode" value="@Model.Emplist[i].emp_code" />@Model.Emplist[i].emp_code</td>
                    <td>@Model.Emplist[i].emp_name</td>
                    <td>@Model.Emplist[i].EmploymentTerm</td>
                    <td>@Model.Emplist[i].Subcategory</td>
                    <td>@(Convert.ToDecimal(Model.Emplist[i].HourlyRate))</td>
                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToDecimal(Model.Emplist[i].AnnualLeaveAccuralHrs)))</td>
                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToDecimal(Model.Emplist[i].ALAmount)))</td>
                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToDecimal(Model.Emplist[i].AnnualLeaveTakenHrs)))</td>
                    <td class="text-right ALPaid">@(string.Format("{0:#,0}", Convert.ToDecimal(Model.Emplist[i].ALPaid)))</td>
                </tr>
                SrNo++;
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $("#btnVerifyAndSave").click(function () {
            if (ValidateAmt()) {
                $("#btnsave").click();
            }

        });

        $('.selectall').click(function () {
            var ischecked = 0;
            if (this.checked) {
                ischecked = 1;
            }
            $('.isSelect').val(ischecked);
            $('.selectedId').prop('checked', this.checked);
        });

        $('.selectedId').change(function () {
            var ischecked = 0;
            var Empid = "rowselectsingle_" + $(this).closest("tr").find('.hfempid').val();
            if (this.checked) {
                ischecked = 1;
            }
            $(this).closest("tr").find(".isSelect").val(ischecked);
            var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
            $('.selectall').prop("checked", check);
        });
    });
    function exportReportToExcelAll() {
        var FDate = $("#Date").val();
        var TDate = $("#ToDate").val();
        exportToExcelSahaj('tblExport', 'ConsolidateSalaryReport_' + FDate + '_' + TDate);
    }

</script>
