@model PTC

<div class="inner-main p-3 defult-height">
	<div class="row">
		<div class="col-sm-5"><h1 class="heading-one mb-3">Creation of Objective </h1></div>

	</div>
	@using (Ajax.BeginForm("_Objective", "ProbationtoConfirmation",
			new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ProbationtoConfirmation/_Objective") },
			  new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnBegin = "ShowLoadingDialog()" },
		new { @id = "__HierarchyFrom" })
		)
	{
		<div class="row">
			@Html.HiddenFor(modal => modal.Approved)

			<div class="col-sm-10 align-self-center text-right">

			</div>
			<div style="display:none">
				<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Search</button>
			</div>
		</div>
	}

	<div id="TargetDiv">@Html.Partial("_Loading")</div>
</div>




<div class="modal fade pop-dgn" id="AddModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">
					<i class="fas fa-bullseye"></i> <span id="spnHead">Probation Objectives</span>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body ">

				<div id="TagetDivAdd"></div>
				

			</div>
		</div>

	</div>

</div>




@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/scripts/AddInit.js"))

<script>
		function showtable(tabname) {
		if(tabname==1){
		$("#Approved").val(0);
			$("#btnSearch").click();
		}
		else if(tabname==2){
		$("#Approved").val(1);
			$("#btnSearch").click();
		}
		else{

			$("#Approved").val(2);
			$("#btnSearch").click();
		}
		}
		$(document).ready(function () {
			$("#btnSearch").click();
		});

		

		function OnSuccessApproveHierarchy(obj) {
			CloseLoadingDialog();
			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				$("#btnSearch").click();
			}
			else {
				FailToaster(obj.SuccessMessage);
			}
		}
	function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);
			$('[data-toggle="tooltip"]').tooltip();
			$(".applyselect").select2();
		}


		function _ProbationObjectives(obj) {

			var I = $(obj).closest("tr").find("input:hidden[name=I]").val();
			var A = $(obj).closest("tr").find("input:hidden[name=A]").val();
			var N = $(obj).closest("tr").find("input:hidden[name=E]").val();
	    	var EID = $(obj).closest("tr").find("input:hidden[name=EID]").val();

			if (EID)
			{
	                   var url = "/ProbationtoConfirmation/CreateObjectives?src=" + EncryptQueryStringJSON(@ViewBag.MenuID + "*" + "/ProbationtoConfirmation/CreateObjectives" + "*" + I+"*"+A+"*"+EID);
                       window.location.href = url;
				
			}
		}
		function OnSuccessModifyHierarchy(obj) {
			CloseLoadingDialog();
			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				$("#AddModal").modal("hide");
				$("#btnSearch").click();
			}
			else {
				FailToaster(obj.SuccessMessage);
			}
		}


</script>

}