@model PTC.Appraisal.SelfAppraisal
@{
	List<SelectListItem> AppraisalList = new List<SelectListItem>

{
									new SelectListItem{Text="Select",Value="0" },
									new SelectListItem{Text="Confirm",Value="1" },
									new SelectListItem{Text="Probation Extension",Value="2" },
									new SelectListItem{Text="Confirm with Modification",Value="3" },
									new SelectListItem{Text="Termination",Value="4" }
									};

	List<SelectListItem> ModificationList = new List<SelectListItem>

{
									new SelectListItem{Text="Select",Value="0" },
									new SelectListItem{Text="Change in Designation",Value="1" },
									new SelectListItem{Text="Relocation",Value="2" },
									new SelectListItem{Text="Change in Pillar",Value="3" },
									new SelectListItem{Text="Increment in Salary",Value="4" }
									};
}

@using (Ajax.BeginForm("ReviewConfimerAppraisal", "ProbationtoConfirmation",
		new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ProbationtoConfirmation/ReviewConfimerAppraisal") },
		  new AjaxOptions { HttpMethod = "POST", OnFailure = "CloseLoadingDialog()", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
	new { @id = "_ReviewConfimerAppraisalFrom", enctype = "multipart/form-data" })
	)
{
	@Html.ValidationSummary(false)
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ID)
	@Html.HiddenFor(model => model.UserComment)
	@Html.HiddenFor(model => model.Approved)
	@Html.HiddenFor(model => model.EMPID)
	<div class="inner-main mb-5 p-3 pb-0">
		<div class="row">
			<div class="col-md-10 text-center">
				<h1 class="heading-one pt-2">@Model.EMPName</h1>
			</div>
			<div class="col-md-2 text-left">
				<strong>Status</strong><br>
				@if (Model.Approved == 0)
				{
					<b class="red-clr">To be approved</b>
				}
				else if (Model.Approved == 1)
				{
					<b class="red-clr">approved</b>
				}

			</div>

			<div class="col-md-12 mt-2 mb-2 text-center">
				<div class="emp-ifno mb-0" id="toggle">
					<ul class="list-unstyled ">
						<li>
							<strong>Designation</strong><br>
							@Model.Designation
						</li>
						<li>
							<strong>Department </strong><br>
							@Model.DepartmentsName
						</li>

						<li>
							<strong>Location </strong><br>
							@Model.LocationName
						</li>
						<li>
							<strong>Probation End Date</strong><br>
							@Model.ProbationDate
						</li>
					</ul>
				</div>
				<div class="emp-ifno mb-3" id="toggle">
					<ul class="list-unstyled ">
						<li>
							<strong>Supervisor</strong><br>
							@Model.AppraiserName
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="text-right"> <a href="" class="btn mtr-g-grn btn-l ripplelink btnAdd " data-toggle="modal" data-target="#achievement"><i class="fas fa-comments"></i>Review<span class="ink animate" style="height: 89px; width: 89px; left: 6.5px; top: -31.5px;"></span></a> </div>
				<div class="table-responsive">
					<table id="datatable" class="table table-scroll tv-top mb-3 act-table table-striped">
						<thead>
							<tr>
								<th class="w-10">S.No</th>
								<th width="200">Key Performance Area</th>
								<th width="200">Probation Objective</th>
								<th width="200">Achievements</th>
								<th width="50">UOM</th>
								<th width="50">Achievement</th>
								<th width="50">Weightage</th>
								<th width="50">Target</th>
								<th width="50">Appraiser's Score</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.KPAL.Count > 0)
							{
								int KPCount = 0;
								foreach (var item in Model.KPAL)
								{
									KPCount++;
									<tr>
										<td>@KPCount</td>

										<td> @item.KPAName  </td>
										<td>@item.ProbationObjective </td>
										<td> @item.Self_Achievement</td>
										<td>@item.UOMType</td>
										<td class="text-right">@item.TargetAchievement</td>
										<td class="text-right">@item.Weights</td>
										<td class="text-right">@item.Target</td>
										<td class="text-right">
											<span id="spnHodScore_@KPCount">@item.HOD_Score </span>
										</td>
									</tr>
								}

							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row text-left">


			<div class="col-md-12">

				<div class="row text-left">

					<div class="col-sm-12 form-group">
						<label>Overall Comments</label>
						<p>@Model.UserComment</p>

					</div>

					<div class="col-sm-12 form-group">
						<hr>
						<span class="hr-aps"><i class="fas fa-hand-holding-usd"></i>Appraiser </span>
					</div>

					<div class="col-sm-12">
						<strong>Organisational Standard Questions </strong>
					</div>
					<div class="col-sm-12 form-group">
						<table class="table mb-0 table-striped">
							<thead>
								<tr>
									<th class="td-10">S.NO</th>
									<th class="w-200">Additional Questions</th>
									<th class="w-200">Employee's Response	</th>
									<th class="w-200">Appraiser's Response</th>
								</tr>
							</thead>
							<tbody>
								@if (Model.feedbackQuestions != null)
								{
									int QCount = 0;
									for (int i = 0; i < Model.feedbackQuestions.Count; i++)
									{
										QCount++;
										@Html.HiddenFor(model => model.feedbackQuestions[i].ID)
										@Html.HiddenFor(model => model.feedbackQuestions[i].QID)
										@Html.HiddenFor(model => model.feedbackQuestions[i].Question)
										@Html.HiddenFor(model => model.feedbackQuestions[i].UserAnswer)
										<tr>
											<td>@QCount</td>
											<td>@Model.feedbackQuestions[i].Question	</td>
											<td>
												@Model.feedbackQuestions[i].UserAnswer
											</td>
											<td>
												@Model.feedbackQuestions[i].SupervisiorAnswer
											</td>
										</tr>
									}
								}
							</tbody>

						</table>
					</div>


					<div class="col-md-12 form-group">

						<label>Final Assessment<sup>*</sup></label>
						<p>@Model.HodComment</p>


					</div>
					<div class="col-sm-12 form-group">
						<hr>
						<span class="hr-aps">
							<i class="fas fa-user"></i>Employee
						</span>
					</div>
					<div class="col-sm-12 form-group">
						<label>Final Response</label>
						<p>@Model.UserFinalComment</p>

					</div>

					@if (Model.appraisalReview != null)
					{
						<div class="col-sm-12 form-group">
							<hr>
							<span class="hr-aps"><i class="fas fa-hand-holding-usd"></i>Appraiser </span>
						</div>
						<div class="col-sm-3 form-group">
							<label>Appraisal Review</label>

							@Html.DropDownListFor(model => model.appraisalReview.AppraisalID, new SelectList(AppraisalList, "Value", "text", Model.appraisalReview.AppraisalID), new { @class = "form-control applyselect" })
							@Html.HiddenFor(model => model.appraisalReview.AppraisalType)
						</div>
						if (Model.appraisalReview.AppraisalType == "Probation Extension")
						{
							<div class="col-sm-3 form-group">
								<label>Probation End Date</label>
								@Html.TextBoxFor(model => model.appraisalReview.ProbationEndDate, new { @class = "form-control", @type = "date" })

							</div>
						}

						<div class="col-sm-2 form-group">
							<label>Final Score <i class="fas fa-info-circle" data-popover-content="#unique-id1" data-toggle="popover" data-placement="top" data-original-title="" title=""></i></label>
							<!--- Popover--->
							<div id="unique-id1" style="display: none">
								<div class="popover-body">
									<button type="button" class="popover-close close"><i class="fas fa-times"></i></button>
									<h2>Score Card</h2>
									<div class="statulistpophvr ">
										<ul class="list-unstyled">
											<li><strong>96-100</strong></li>
											<li class="text-right">0</li>
											<li><strong>90-95	</strong></li>
											<li class="text-right">A+</li>
											<li><strong>85-89	</strong></li>
											<li class="text-right">A</li>
											<li><strong>70-84	</strong></li>
											<li class="text-right">B</li>
											<li><strong>60-69	</strong></li>
											<li class="text-right">C</li>
											<li><strong>50-59	</strong></li>
											<li class="text-right">D</li>
											<li><strong>0-50	</strong></li>
											<li class="text-right">E</li>
										</ul>
									</div>
								</div>
							</div>
							<!------>
							<div class="input-group w-100">
								@Html.TextBoxFor(model => model.appraisalReview.FinalScore, new { @class = "form-control", @type = "number", @readonly = "readonly" })
								<span class="field-validation-valid text-danger" data-valmsg-for="Team_Score" data-valmsg-replace="true"></span>
								<div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">100</span> </div>
							</div>
						</div>
						<div class="col-md-2 form-group">
							<label>System Score</label>
							<p>@Model.appraisalReview.SystemScore</p>
						</div>
						@*<div class="col-md-2 form-group">
								<label>System Score</label>

								@Html.TextBoxFor(model => model.appraisalReview.SystemScore, new { @class = "form-control", @readonly = "readonly" })
								@Html.HiddenFor(model => model.appraisalReview.SystemScore)

							</div>*@
						if (Model.appraisalReview.AppraisalType == "Confirm with Modification")
						{
							string lblname = string.Empty;
							if (Model.appraisalReview.ModificationType == "Relocation")
							{
								lblname = "Location";

							}
							else if (Model.appraisalReview.ModificationType == "Change in Pillar")
							{
								lblname = "Pillar";
							}
							else if (Model.appraisalReview.ModificationType == "Change in Designation")
							{
								lblname = "Designation";
							}


							<div class="col-sm-12 ">
								<div class="hglt-bg">
									<div class="row mt-2">

										<div class="col-sm-3 form-group">
											<label>Modification Type</label>
											@Html.DropDownListFor(model => model.appraisalReview.ModificationTypeId, new SelectList(ModificationList, "Value", "text", Model.appraisalReview.ModificationTypeId), new { @class = "form-control applyselect" })
											@Html.HiddenFor(model => model.appraisalReview.ModificationType)
										</div>


										@if (lblname != "")
										{
											<div class="col-sm-3 form-group">
												<label>@lblname</label>
												@Html.DropDownListFor(x => Model.appraisalReview.TypeId, new SelectList(Model.typeslist, "ID", "Name", Model.appraisalReview.TypeId), "Select",
				 new { @class = "form-control  applyselect" })
												@Html.HiddenFor(model => model.appraisalReview.TypeName)

											</div>
										}

											<div class="col-sm-12 form-group">
												<label>Reason/Remarks</label>
												<p>@Model.appraisalReview.Reason</p>

											</div>
										</div>
								</div>
							</div>
						}

					}
					<div class="col-sm-12 form-group">
						<hr>
						<span class="hr-aps"><i class="fas fa-user-check"></i>Confimer </span>
					</div>
					<div class="col-sm-12 form-group mb-3 ">
						<label>Are you agreeing with the appraisal</label>
						@if (Model.Approved == 0)
						{
							<ul class="list-unstyled inline-li">
								<li>
									<div class="radio-button">
										<input id="yes1" name="@Html.NameFor(x=>Model.IsAgree)" @(Model.IsAgree == "Yes" ? "Checked" : "") value="Yes" type="radio" onclick="show1();">
										<label for="yes1" class="radio-label">Yes</label>
									</div>
								</li>
								<li>
									<div class="radio-button">
										<input id="no1" name="@Html.NameFor(x=>Model.IsAgree)" @(Model.IsAgree == "No" ? "Checked" : "") value="No" type="radio" onclick="show2();">
										<label for="no1" class="radio-label">No</label>
									</div>
								</li>
							</ul>
						}
						else
						{
							<ul class="list-unstyled inline-li">
								<li>
									<div class="radio-button">
										<input id="yes1" name="@Html.NameFor(x=>Model.IsAgree)" @(Model.IsAgree == "Yes" ? "Checked" : "") value="Yes" type="radio" disabled>
										<label for="yes1" class="radio-label">Yes</label>
									</div>
								</li>
								<li>
									<div class="radio-button">
										<input id="no1" name="@Html.NameFor(x=>Model.IsAgree)" @(Model.IsAgree == "No" ? "Checked" : "") value="No" type="radio" disabled>
										<label for="no1" class="radio-label">No</label>
									</div>
								</li>
							</ul>
						}



					</div>
					@if (Model.Approved == 0)
					{
						<div class="col-sm-12" id="divapp" style="display:none">
							<div class="row">
								<div class="col-sm-3 form-group">
									<label>Appraisal Review</label>

									@Html.DropDownListFor(model => model.ConfirmerReview.AppraisalID, new SelectList(AppraisalList, "Value", "text", Model.ConfirmerReview.AppraisalID), new { @class = "form-control applyselect" })
									@Html.HiddenFor(model => model.ConfirmerReview.AppraisalType)
								</div>
								<div class="col-sm-3 form-group" id="probationdate" style="display:none;">
									<label>Probation Period End Date</label>
									@Html.TextBoxFor(model => model.ConfirmerReview.ProbationEndDate, new { @class = "form-control", @type = "date" })

								</div>
								<div class="col-sm-2 form-group">
									<label>Final Score <i class="fas fa-info-circle" data-popover-content="#unique-id1" data-toggle="popover" data-placement="top" data-original-title="" title=""></i></label>
									<!--- Popover--->
									<div id="unique-id1" style="display: none">
										<div class="popover-body">
											<button type="button" class="popover-close close"><i class="fas fa-times"></i></button>
											<h2>Score Card</h2>
											<div class="statulistpophvr ">
												<ul class="list-unstyled">
													<li><strong>96-100</strong></li>
													<li class="text-right">0</li>
													<li><strong>90-95	</strong></li>
													<li class="text-right">A+</li>
													<li><strong>85-89	</strong></li>
													<li class="text-right">A</li>
													<li><strong>70-84	</strong></li>
													<li class="text-right">B</li>
													<li><strong>60-69	</strong></li>
													<li class="text-right">C</li>
													<li><strong>50-59	</strong></li>
													<li class="text-right">D</li>
													<li><strong>0-50	</strong></li>
													<li class="text-right">E</li>
												</ul>
											</div>
										</div>
									</div>
									<!------>
									<div class="input-group w-100">
										@Html.TextBoxFor(model => model.ConfirmerReview.FinalScore, new { @class = "form-control", @type = "number" })
										<span class="field-validation-valid text-danger" data-valmsg-for="Team_Score" data-valmsg-replace="true"></span>
										<div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">100</span> </div>
									</div>
								</div>
								<div class="col-sm-12 ">
									<div id="fail" class="hglt-bg" style="display:none;">
										<div class="row mt-2">
											<div class="col-sm-3 form-group">
												<label>Modification Type</label>
												@Html.DropDownListFor(model => model.ConfirmerReview.ModificationTypeId, new SelectList(ModificationList, "Value", "text", Model.ConfirmerReview.ModificationTypeId), new { @class = "form-control applyselect" })
												@Html.HiddenFor(model => model.ConfirmerReview.ModificationType)
											</div>

											<div id="designation" class="col-sm-3 form-group" style="display: none;">
												<label id="lblname"></label>
												@Html.DropDownListFor(x => Model.ConfirmerReview.TypeId, new SelectList(Model.Ctypeslist, "ID", "Name", Model.ConfirmerReview.TypeId), "Select",
			new { @class = "form-control  applyselect" })
												@Html.HiddenFor(model => model.ConfirmerReview.TypeName)

											</div>


											<div class="col-sm-12 form-group">
												<label>Reason/Remarks</label>
												@Html.TextAreaFor(model => model.ConfirmerReview.Reason, new { @class = "form-control h-100  maxSize[1200]", @maxlength = "1200", onkeypress = "return blockSpecialChar(event)" })
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					else
					{


						<div class="col-sm-12">
							@if (Model.ConfirmerReview.AppraisalType != "")
							{
								<div class="row">
									<div class="col-sm-3 form-group">
										<label>Appraisal Review</label>

										@Html.DropDownListFor(model => model.ConfirmerReview.AppraisalID, new SelectList(AppraisalList, "Value", "text", Model.ConfirmerReview.AppraisalID), new { @class = "form-control applyselect" })
										@Html.HiddenFor(model => model.appraisalReview.AppraisalType)
									</div>
									@if (Model.ConfirmerReview.AppraisalType == "Probation Extension")
									{

										<div class="col-sm-3 form-group">
											<label>Probation Period End Date</label>
											@Html.TextBoxFor(model => model.ConfirmerReview.ProbationEndDate, new { @class = "form-control", @type = "date" })

										</div>
									}
									<div class="col-sm-2 form-group">
										<label>Final Score <i class="fas fa-info-circle" data-popover-content="#unique-id1" data-toggle="popover" data-placement="top" data-original-title="" title=""></i></label>
										<!--- Popover--->
										<div id="unique-id1" style="display: none">
											<div class="popover-body">
												<button type="button" class="popover-close close"><i class="fas fa-times"></i></button>
												<h2>Score Card</h2>
												<div class="statulistpophvr ">
													<ul class="list-unstyled">
														<li><strong>96-100</strong></li>
														<li class="text-right">0</li>
														<li><strong>90-95	</strong></li>
														<li class="text-right">A+</li>
														<li><strong>85-89	</strong></li>
														<li class="text-right">A</li>
														<li><strong>70-84	</strong></li>
														<li class="text-right">B</li>
														<li><strong>60-69	</strong></li>
														<li class="text-right">C</li>
														<li><strong>50-59	</strong></li>
														<li class="text-right">D</li>
														<li><strong>0-50	</strong></li>
														<li class="text-right">E</li>
													</ul>
												</div>
											</div>
										</div>
										<!------>
										<div class="input-group w-100">
											@Html.TextBoxFor(model => model.ConfirmerReview.FinalScore, new { @class = "form-control", @type = "number" })
											<span class="field-validation-valid text-danger" data-valmsg-for="Team_Score" data-valmsg-replace="true"></span>
											<div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">100</span> </div>
										</div>
									</div>
									@if (Model.ConfirmerReview.AppraisalType == "Confirm with Modification")
									{
										string lblname = string.Empty;
										if (Model.ConfirmerReview.ModificationType == "Relocation")
										{
											lblname = "Location";

										}
										else if (Model.ConfirmerReview.ModificationType == "Change in Pillar")
										{
											lblname = "Pillar";
										}
										else if (Model.ConfirmerReview.ModificationType == "Change in Designation")
										{
											lblname = "Designation";
										}

										<div class="col-sm-12 ">
											<div class="hglt-bg">
												<div class="row mt-2">
													<div class="col-sm-3 form-group">
														<label>Modification Type</label>
														@Html.DropDownListFor(model => model.ConfirmerReview.ModificationTypeId, new SelectList(ModificationList, "Value", "text", Model.ConfirmerReview.ModificationTypeId), new { @class = "form-control applyselect" })
														@Html.HiddenFor(model => model.ConfirmerReview.ModificationType)
													</div>
													@if (lblname != "")
													{
														<div class="col-sm-3 form-group">
															<label id="lblname">@lblname</label>
															@Html.DropDownListFor(x => Model.ConfirmerReview.TypeId, new SelectList(Model.Ctypeslist, "ID", "Name", Model.ConfirmerReview.TypeId), "Select",
								new { @class = "form-control  applyselect" })
															@Html.HiddenFor(model => model.ConfirmerReview.TypeName)

														</div>
													}



													<div class="col-sm-12 form-group">
														<label>Reason/Remarks</label>
														@Html.TextAreaFor(model => model.ConfirmerReview.Reason, new { @class = "form-control h-100  maxSize[1200]", @maxlength = "1200", onkeypress = "return blockSpecialChar(event)" })
													</div>
												</div>
											</div>
										</div>
									}

								</div>
							}

						</div>
					}



					<div class="col-sm-12 form-group">
						<label>Recommendation / Any comments</label>
						@Html.TextAreaFor(model => model.Comment, new { @class = "form-control h-100  maxSize[1200]", @maxlength = "1200", @placeholder="Enter", onkeypress = "return blockSpecialChar(event)" })
						<span class="field-validation-valid text-danger" data-valmsg-for="Group_Comment" data-valmsg-replace="true"></span>
					</div>
					<div class="col-sm-12 mt-4 text-center">
						@if (Model.Approved == 0)
						{
							<button type="submit" name="Command" value="Approved" class="btn mtr-g-grn btn-l ripplelink "><i class="fas fa-check" aria-hidden="true"></i>Approve</button>


						}

						<button type="button" class="btn cnl-btn btn-l ripplelink" onclick="ShowLoadingDialog();window.location='@Url.Action("ConfimerAppraisal", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ProbationtoConfirmation/ConfimerAppraisal*0*2")  })';"><i class="fas fa-times"></i>Close</button>

					</div>

				</div>
			</div>
		</div>

	</div>
	<div id="achievement" class="modal fade" role="dialog">
		<div class="modal-dialog modal-xl">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body vert-tab p-0">
					<div class="row">
						<div class="col-md-3">
							<ul class="nav nav-tabs vrt-tab-leftside m-0 p-0 " id="myTab" role="tablist">
								@if (Model.KPAL.Count > 0)
								{
									int AKPCount = 0;
									foreach (var item in Model.KPAL)
									{
										AKPCount++;
										<li class="nav-item">
											<a class="nav-link @(AKPCount == 1 ? "active" : "")" id="home-tab" data-toggle="tab" href="#tab_@(AKPCount)" role="tab" aria-controls="home" aria-selected="true">
												<h2>
													<div class="blockellipsis">@item.KPAName </div>

												</h2>
											</a>
										</li>
									}
								}
							</ul>
						</div>
						<div class="col-md-9">
							<button type="button" class="clse-rgt" data-dismiss="modal">×</button>
							<div class="vrt-tab-rightside">
								<div class="tab-content" id="myTabContent">

									@if (Model.KPAL.Count > 0)
									{

										int MKPACount = 0;
										decimal AchScrore = 0;
										for (int i = 0; i < Model.KPAL.Count; i++)
										{
											MKPACount++;
											@Html.HiddenFor(model => model.KPAL[i].KPAID)
											@Html.HiddenFor(model => model.KPAL[i].ID)
											@Html.HiddenFor(model => model.KPAL[i].ProbationObjective)
											@Html.HiddenFor(model => model.KPAL[i].UOMId)
											@Html.HiddenFor(model => model.KPAL[i].UOMType)
											@Html.HiddenFor(model => model.KPAL[i].Weights)
											@Html.HiddenFor(model => model.KPAL[i].Target)
											@Html.HiddenFor(model => model.KPAL[i].TargetAchievement)
											@Html.HiddenFor(model => model.KPAL[i].Self_Achievement)
											@Html.HiddenFor(model => model.KPAL[i].Self_Comment)

											try
											{
												decimal TargetAchieved = 0, kPA_Target = 0;

												decimal.TryParse(Convert.ToString(Model.KPAL[i].TargetAchievement), out TargetAchieved);
												decimal.TryParse(Convert.ToString(Model.KPAL[i].Target), out kPA_Target);
												if (Model.KPAL[i].KPA_AutoRating != "No" && Convert.ToInt32(Model.KPAL[i].Target) > 0)
												{
													if (Model.KPAL[i].KPA_IncType.ToLower() == "postive")
													{
														AchScrore = (TargetAchieved / kPA_Target) * 100;
													}
													else
													{

														AchScrore = (TargetAchieved / kPA_Target) * 100;
													}
												}
												else
												{
													AchScrore = 0;
												}
											}

											catch (Exception ex)
											{

											}





											<div class="tab-pane fade show @(MKPACount == 1 ? "active" : "")" id="tab_@MKPACount" role="tabpanel" aria-labelledby="home-tab">
												<div class="row">
													<div class="col-sm-12 form-group">
														<label>Key Performance Area</label>
														<p>@Model.KPAL[i].KPAName </p>
													</div>
													<div class="col-sm-12 form-group">
														<label>Probation Objective</label>
														<p>@Model.KPAL[i].ProbationObjective </p>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-3 form-group">
														<label>UOM</label>
														<p>@Model.KPAL[i].UOMType </p>
													</div>
													<div class="col-sm-3 form-group">
														<label>Target </label>
														<p>@Model.KPAL[i].Target</p>
													</div>
													<div class="col-sm-3 form-group">
														<label>Weightage</label>
														<p>@Model.KPAL[i].Weights</p>
													</div>
													@if (Model.KPAL[i].UOMType.ToLower() == "Number".ToLower() || Model.KPAL[i].UOMType.ToLower() == "Percentage".ToLower())
													{
														<div class="col-sm-3 form-group">
															<label>Target Achieved<i class="fas fa-info-circle" data-toggle="tooltip" data-original-title="System Generated @Decimal.Round(AchScrore) %"></i></label>
															<p>@Model.KPAL[i].TargetAchievement</p>
														</div>
													}
												

												<div class="col-md-12 form-group">
													<hr>
													<span class="hr-aps"><i class="fas fa-hand-holding-usd"></i> Appraiser </span>
												</div>
												<div class="col-sm-10 form-group">
													<label>Comment</label>

													@Html.TextAreaFor(model => model.KPAL[i].HOD_Comment, new { @class = "form-control h-100", @placeholder = "Enter Comment", onkeypress = "return blockSpecialChar(event)", disabled = "disabled" })
													@Html.ValidationMessageFor(model => model.KPAL[i].HOD_Comment, "", new { @class = "text-danger" })

												</div>
												<div class="col-sm-2 align-self-top form-group">
													<label>Appraiser’s Score <i class="fas fa-info-circle" data-popover-content="#unique-id1" data-toggle="popover" data-placement="top"></i> </label>

													<!--- Popover--->
													<div id="unique-id1" style="display: none">
														<div class="popover-body">

															<button type="button" class="popover-close close"><i class="fas fa-times"></i></button>
															<h2>Score Card</h2>
															<div class="statulistpophvr ">
																<ul class="list-unstyled">
																	<li><strong>96-100</strong></li>
																	<li class="text-right">0</li>
																	<li><strong>90-95	</strong></li>
																	<li class="text-right">A+</li>
																	<li><strong>85-90	</strong></li>
																	<li class="text-right">A</li>
																	<li><strong>70-84	</strong></li>
																	<li class="text-right">B</li>
																	<li><strong>60-70	</strong></li>
																	<li class="text-right">C</li>
																	<li><strong>50-60	</strong></li>
																	<li class="text-right">D</li>
																	<li><strong>0-50	</strong></li>
																	<li class="text-right">E</li>
																</ul>
															</div>
														</div>
													</div>
													<!------>
													<div class="input-group">
														<input type="hidden" id="hdnC" name="hdnC" value="@MKPACount" />

														@Html.TextBoxFor(model => model.KPAL[i].HOD_Score, new { @class = "form-control h-50 txtScore", disabled = "disabled" })
														@Html.ValidationMessageFor(model => model.KPAL[i].HOD_Score, "", new { @class = "text-danger" })

														<div class="input-group-prepend">
															<span class="input-group-text" id="basic-addon1">100</span>
														</div>
													</div>
												</div>



												<div class="col-sm-12 text-right">
													<a class="btn  cnl-btn ripplelink" data-dismiss="modal"><i class="fas fa-times"></i>Close</a>
													@if (MKPACount > 1)
													{
														<a class="btn blk-gdn-btn  btnPrevious"><i class="fas fa-angle-double-left"></i>Previous</a>}
													@if (MKPACount != Model.KPAL.Count)
													{
														<a class="btn blk-gdn-btn  btnNext">Next <i class="fas fa-angle-double-right m-0"></i></a>}
												</div>
											</div>	
										</div>}

									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	@System.Web.Optimization.Scripts.Render("~/assets/design/Scripts/AddInit.js")
	<script>

		  function show2(){
             $('#divapp').show();
        }
        function show1(){
		   $('#divapp').hide();

            }
		function ddlchange(Id,Type) {
		       if(Type=="Relocation"){
		        Type="WorkLocation";
		        $("#lblname").html("Location")

	    	}
		   else if(Type=="Change in Designation"){
		      Type="DESIGNATION";
		       $("#lblname").html("Designation")
		    }
		   else if(Type=="Change in Pillar"){
		       Type="ThematicArea";
		       $("#lblname").html("Pillar")
	    	}
			if (Id >0) {
			    $("#ConfirmerReview_TypeId").empty();
		     	$("#ConfirmerReview_TypeId").append($("<option />").val(0).text("Select"));
				ShowLoadingDialog();
				$.ajax({
					url: "/CommonAjax/GetApprasel_DropdownJson",
					type: "Get",
					async: true,
					data: { Type: Type },
					success: function (subactivity) {
						$(subactivity).each(function () {
							$("#ConfirmerReview_TypeId").append($("<option />").val(this.ID).text(this.Name));
						});

						CloseLoadingDialog();
					},
					error: function (er) {
						CloseLoadingDialog();
					}
				});


			}
			else {
				$("#ConfirmerReview_TypeId").empty();
				$("#ConfirmerReview_TypeId").append($("<option />").val(0).text("Select"));
		        CloseLoadingDialog();
			}

		}





			$("#ConfirmerReview_ModificationTypeId ").change(function() {

		        var Id = parseInt($("#ConfirmerReview_ModificationTypeId").val());
		if(Id==4){
		   $('#designation').hide();
		 $('#ConfirmerReview_ModificationType').val("");
		}
		else if(Id==0){
		   $('#designation').hide();
		 $('#ConfirmerReview_ModificationType').val("");
		}
		else{
		var type=$("#ConfirmerReview_ModificationTypeId option:selected").text();
		    $('#ConfirmerReview_ModificationType').val(type);
		   ddlchange(Id,type);
		 $('#designation').show();

		}

		});
			$("#ConfirmerReview_TypeId ").change(function() {

			var type=$("#ConfirmerReview_TypeId option:selected").text();
		    $('#ConfirmerReview_TypeName').val(type);

		});
		$("#ConfirmerReview_AppraisalID ").change(function() {

		    var Id = parseInt($("#ConfirmerReview_AppraisalID").val());
			var type=$("#ConfirmerReview_AppraisalID option:selected").text();
		    $('#ConfirmerReview_AppraisalType').val(type);

            if(Id==2){
		       $('#probationdate').show();
		$('#fail').hide();
		}
		else if(Id==4){
		 $('#probationdate').hide();
		$('#fail').hide();
		}
		else if(Id==1){
		 $('#probationdate').hide();
		 $('#fail').hide();
		}
		else if(Id==3){
		 $('#probationdate').hide();
		   $('#fail').show();

		}
    });


				$("#btnResubmit").on("click",  function() {
  $("#divres").toggle(); /*shows or hides #box*/
  	$("#btnEdit").hide();
  /*$(this) refers to the targeted element: #toggleMessage*/
  var text = $(this).text();

  if (text=="Back") { /*if text inside #toggleMessage is Show...*/
    document.getElementById("btnResubmit").innerHTML = "<i class='fas fa-share'></i>Resubmit"; /*Change button text to Hide*/
    $("#btnResubmit").removeClass("cnl-btn")
    $("#btnResubmit").addClass("mtr-o-grn")
		$('#btnsubmit').show();
		$('#btnsave').show();

  }
  else {
    document.getElementById("btnResubmit").innerHTML = "<i class='fas fa-long-arrow-alt-left'></i>Back"; /*Change button text to Show*/
    $("#btnResubmit").addClass("btn cnl-btn")
    $("#btnResubmit").removeClass("mtr-o-grn")
			$('#btnsubmit').hide();
		     $('#btnsave').hide();
  }
})

	$(".txtAchievement").on('keyup keypress', function (e) {
					DisplayAchievement(this);
				});

		function DisplayAchievement(obj) {
				var C = $(obj).closest("div").find("input:hidden[name=hdnC]").val();
				$("#spnAch_" + C).html($(obj).val());
                var TargetAchieved = $(obj).closest("div").find("input:hidden[name=hdnTargetAchieved]").val();
            $("#spnTargetAch_"+ TargetAchieved).html($(obj).val());
			}
		$('.btnNext').click(function () {

					$('.nav-tabs .active').parent().next('li').find('a').trigger('click');
					$('.nav-tabs .active').parent().prev('li').find('a').addClass("prvactive");

				});

				$('.btnPrevious').click(function () {

					$('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
				});
		     $("#ATrainingAdd").click(function (e) {
					e.preventDefault();
					AddTrainingRow();
				});
				$("#AAttachmentAdd").click(function (e) {
					e.preventDefault();
					AddAttachmentRow();
				});
		      function AddTrainingRow() {
				var LastTRCount = parseInt($('#tblTraining').find("tbody tr").length) - 1;
				if (LastTRCount >=4) {
					FailToaster("5 training allowed");
				}
				else {
					$('.applyselect').select2("destroy");
					var $tableBody = $('#tblTraining').find("tbody"),
						$trLast = $tableBody.find("tr:last"),
						$trNew = $trLast.clone();
					   $trNew.find("td:last").html('<a onclick="DeleteTrainingRow(this)" class="remove" data-toggle="tooltip" data-original-title="Remove"><i class="fas fa-window-close red-clr" aria-hidden="true"></i></a>');


					$trNew.find("div").each(function () {
						$(this).attr({
							'id': function (_, id) { var arr = id.split('_'); return id.replace(arr[1], LastTRCount + 1); }
						});

					});

					$trNew.find("label").each(function () {
						$(this).attr({
							'id': function (_, id) { var arr = id.split('_'); return id.replace(arr[1], LastTRCount + 1); },
						});
						$(this).html(parseInt($('#tblTraining').find("tbody tr").length) + 1);
					});

					$trNew.find("input").each(function (i) {
						$(this).attr({
							'id': function (_, name) { return name.replace('_' + LastTRCount + '_', '_' + (parseInt(LastTRCount) + 1) + '_'); },
							'name': function (_, name) { return name.replace('[' + LastTRCount + ']', '[' + (parseInt(LastTRCount) + 1) + ']'); },
						});
						$(this).val('0');
					});
					$trNew.find("textarea").each(function (i) {
						$(this).attr({
							'id': function (_, name) { return name.replace('_' + LastTRCount + '_', '_' + (parseInt(LastTRCount) + 1) + '_'); },
							'name': function (_, name) { return name.replace('[' + LastTRCount + ']', '[' + (parseInt(LastTRCount) + 1) + ']'); },
						});
						$(this).val('');
					});
					$trNew.find("select").each(function (i) {
						$(this).attr({
							'id': function (_, name) { return name.replace('_' + LastTRCount + '_', '_' + (parseInt(LastTRCount) + 1) + '_'); },
							'name': function (_, name) { return name.replace('[' + LastTRCount + ']', '[' + (parseInt(LastTRCount) + 1) + ']'); },
						});
						$(this).val('');
					});

					$trNew.find("span").each(function (i) {
						if ($(this).attr("data-valmsg-for")) {
							$(this).attr({
								'data-valmsg-for': function (_, name) { return name.replace('[' + LastTRCount + ']', '[' + (parseInt(LastTRCount) + 1) + ']'); }
							});
						}
						if ($(this).attr("for")) {
							$(this).attr({
								'for': function (_, name) { return name.replace('_' + LastTRCount + '_', '_' + (parseInt(LastTRCount) + 1) + '_'); }
							});
						}
					});

					$trLast.after($trNew);
					var form = $("#_SetSelfAppraisalFrom").closest("form");
					form.removeData('validator');
					form.removeData('unobtrusiveValidation');
					$.validator.unobtrusive.parse(form);
					$('[data-toggle="tooltip"]').tooltip();
					$(".applyselect").select2();
				}
			}
		function DeleteTrainingRow(obj) {

				var count = 0;
	        	var tr = $(obj).closest('tr');
		      var reason = tr.find('textarea[id="TrainingL_0__ReasonforDeclining"]').val();
			   var ID = parseInt($(obj).closest('tr').find("td.hfTrnId input[type='hidden']").val());
				var TotalRowCount = $('#tblTraining').find("tbody tr").length;
		      if (isNaN(ID)) {
				ConfirmMsgBox("Are you sure you want to delete", '', function () {

					$(obj).closest('tr').remove();
					$("#tblTraining TBODY TR").each(function (i) {
						$(this).closest("tr").find("label").each(function () {
							$(this).attr({
								'id': function (_, id) { var arr = id.split('_'); return id.replace(arr[1], i); },
							});
							$(this).html(i + 1)
						});

						$(this).closest("tr").find("div").each(function () {
							$(this).attr({
								'id': function (_, id) { var arr = id.split('_'); return id.replace(arr[1], i); },
							});
						});


						$(this).closest("tr").find("input").each(function () {
							$(this).attr({
								'id': function (_, id) { return id.replace('_' + (parseInt(i) + 1) + '_', '_' + i + '_'); },
								'name': function (_, name) { return name.replace('[' + (parseInt(i) + 1) + ']', '[' + i + ']'); },
							});

						});

						$(this).closest("tr").find("select").each(function () {
							$(this).attr({
								'id': function (_, id) { return id.replace('_' + (parseInt(i) + 1) + '_', '_' + i + '_'); },
								'name': function (_, name) { return name.replace('[' + (parseInt(i) + 1) + ']', '[' + i + ']'); },
							});

						});

						$(this).closest("tr").find("textarea").each(function () {
							$(this).attr({
								'id': function (_, id) { return id.replace('_' + (parseInt(i) + 1) + '_', '_' + i + '_'); },
								'name': function (_, name) { return name.replace('[' + (parseInt(i) + 1) + ']', '[' + i + ']'); },
							});

						});


						$(this).closest("tr").find("span").each(function () {
							if ($(this).attr("data-valmsg-for")) {
								$(this).attr({
									'data-valmsg-for': function (_, name) { return name.replace('[' + (parseInt(i) + 1) + ']', '[' + i + ']'); },
								});
							}
							if ($(this).attr("for")) {
								$(this).attr({
									'for': function (_, id) { return id.replace('_' + (parseInt(i) + 1) + '_', '_' + i + '_'); },
								});
							}
						});
					});
					var form = $("#_SetSelfAppraisalFrom").closest("form");
					form.removeData('validator');
					form.removeData('unobtrusiveValidation');
					$.validator.unobtrusive.parse(form);

				})
		}
		 else{

		    if(reason==""){
			ConfirmMsgBox("Reason for Declining are blank .", '', function () {



				});
		}
		else{
			ConfirmMsgBox("Are you sure you want to declined", '', function () {



			var dataObject = JSON.stringify({
						'ID': ID,
						'Doctype': 'PTCTrainingDecl',
		                'Reason': reason,

					});
					var data = $.parseJSON($.ajax({
						url: '/CommonAjax/DelRecordTraining_CommonJson',
						type: "post",
						data: dataObject,
						contentType: 'application/json',
						async: false
					}).responseText);
					return data;
			      location.reload();


				})
		}

		}


			}



			function blockSpecialChar(e){

            var k;
            document.all ? k = e.keyCode : k = e.which;
	     	if(k==39){
		       event.preventDefault();
		      }

             }
			$(".txtScore").on('keyup keypress', function (e) {
			DisplayHodScore(this);
		});
		    function DisplayHodScore(obj) {
			var C = $(obj).closest("div").find("input:hidden[name=hdnC]").val();
			$("#spnHodScore_" + C).html($(obj).val());
		}
		   function OnSuccess(obj) {
                if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                    window.location.href = obj.RedirectURL

                }
                else {
                CloseLoadingDialog();
                    FailToaster(obj.SuccessMessage);

                }
            }
	</script>
}