@model Mitr.Models.BudgetMaster.AddInflationRate
@{
    ViewBag.Title = "AddInflationRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Ajax.BeginForm("AddInflationRate", "Budget", new { src = ViewBag.src }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { @id = "AddInflationRate" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    if (Model.Year > 0)
    {
        @Html.HiddenFor(model => model.Year, new { @id = "hdfyear" })
    }

    <div class="inner-main mb-5">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="heading-one mb-3">Add Inflation Rate</h1>
            </div>
            @Html.Partial("HeaderMsg_Partial")

        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label>Year<sup>*</sup></label>
                @Html.DropDownListFor(model => model.Year, new SelectList(@ViewBag.TravelYear, "FinYearID", "Year"), "select", new { @class = "form-control", @id = "ddlyear" })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-10 form-group"></div>
            <div class="col-sm-6" id="TargetDiv">

            </div>
        </div>
        <div class="mt-3 text-left">
            <button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-save"></i>Save</button>
            <button type="button" class="btn cnl-btn" onclick="ShowLoadingDialog();window.location='@Url.Action("InflationRateMaster", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Budget/InflationRateMaster*0")  })';"><i class="fas fa-times"></i> Close</button>
        </div>
    </div>
}

@section scripts    {

    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
    <script type="text/javascript">

    $(document).ready(function () {
  
            var NewHdfYearId = $('#hdfyear').val();
            var UrlId = '@ViewBag.Seturl';

        if (NewHdfYearId == "0") {
         
            FillProspectData(NewHdfYearId, UrlId);
            }
            else {
            FillProspectData(NewHdfYearId, UrlId);
        }
    });
            $("#ddlyear").change(function () {
              
                 var ddlyear = $("#ddlyear").val();
                if (ddlyear == "") {
                    $("#hdfyear").val(null);
                }
                    if (ddlyear != "") {
                         $("#hdfyear").val(ddlyear);
                         var UrlId = '@ViewBag.Seturl';
                        FillProspectData(ddlyear, UrlId);
                    }
            });

    function FillProspectData(obj, objsrc) {
    

        var hdfYear = obj;
        var src = objsrc;

            $.ajax({
                url: "/Budget/_listInflationRate",
                type: "Get",
                async: true,
                data: { src: src, TravelYear: hdfYear },
                success: function (data) {
              
                    $("#TargetDiv").empty();
                    $("#TargetDiv").html(data);


                },
                error: function (er) {
                    alert(er);

                }
            });

    }
        function OnSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
               // window.location.href = obj.RedirectURL

            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }


        }


  
    </script>





}