@model IList<Mitr.Models.MasterAll.List>
@section style{
	@System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}


<div class="inner-main mb-5 pb-0">

	@Html.Partial("ListHeader_Partial", "Add Other Budget Type Master")
	@*@Html.Partial("ListBudget_Partial", "Add Other Budget Type Master")*@
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="card p-0">
				<div class="card-body p-0">
					<div class="table-responsive">
						<div class="table-responsive">
							<table class="table mt-0">
								<thead>
									<tr>
										<th class="w-33">S.No </th>

										<th>Category Name</th>
										<th>Ledger Name</th>
										<th>Inserted Date</th>
										<th>Updated Date</th>
										<th>IP Address</th>
										<th class="tw-100">Action</th>

									</tr>
								</thead>
								@{ int Count = 0;}
								@foreach (Mitr.Models.MasterAll.List item in Model)
								{
									Count++;
									<tbody>
										<tr>
											<td>
												@Count
											</td>

											<td> @item.field_name</td>
											<td> @item.field_value</td>
											<td>@item.createdat</td>
											<td>@item.modifiedat</td>
											<td>@item.IPAddress</td>
											<td>
												<input type="hidden" name="I" value="@item.ID" />
												<input type="hidden" name="N" value="@item.field_name" />
												@if (clsApplicationSetting.GetSessionValue("Modify") == "True")
												{
													<a href="#" onclick="ListHeaderAdd(@item.ID);" data-toggle='tooltip'><i class="fas fa-eye"></i> View</a>
												}
											</td>
										</tr>

									</tbody>
								}
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade pop-dgn" id="ViewModal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">

			<div class="modal-header blk-gdn-btn">
				<h4 class="modal-title"><i class="fa fa-plus"></i>Add Other Budget Type Master </h4>
				<div class="close" data-dismiss="modal">&times;</div>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<div id="TagetDiv"></div>
			</div>
		</div>
	</div>
</div>

@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	<script type="text/javascript">



                        function ListHeaderAdd(CMSID) {

                       if (CMSID == undefined)
                        {
                                CMSID = 0;
                         }
		             	$.ajax({
                                url: "/Budget/_BudggetAddOther",
				                type: "Get",
                                data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Budget/_BudggetAddOther" + "*" + CMSID) },
                               success: function (data)
                             {
                            $("#TagetDiv").empty();
                            $("#TagetDiv").html(data);
                            $("#ViewModal").modal("show");
                           var form = $("form")
                           .removeData("validator")
                           .removeData("unobtrusiveValidation");
                           $.validator.unobtrusive.parse(form);
                           $("#group_id").select2();
			            	},
			            	error: function (er) {
					       alert(er);

			           	}
		               	});
                        }

        function OnSuccess(obj) {


            if (obj.Status) {

              //  SuccessToaster(obj.SuccessMessage);
                window.location.reload();
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }

	</script>
}
