
@{
    string MenuID = ViewBag.MenuID.ToString();
    long TravelREQID = ViewBag.TravelREQID;
}
@if (TempData["Success"] != null)
{

    <div id="MsgDiv" class="scs-mgs wow fadeInLeft" data-wow-delay="0.1s" style="visibility: hidden; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
        <a id="CloseDiv" onclick="MsgClose()">
            <div class="alert alert-light  alert-elevate fade show @(TempData["Success"].ToString()=="Y"?"green-clr": "red-clr")" role="alert">
                <div class="alert-icon"><i class="@(TempData["Success"].ToString()=="Y"?"fas fa-check": "fas fa-times-circle")"></i></div>
                <div class="alert-text">
                    @TempData["SuccessMsg"].ToString()

                </div>
            </div>
            <i class="fas fa-times"></i>
        </a>
    </div>
}

<div class="progress-container progress-right ravi">

    <div class="circle @(ViewBag.TabIndex==1?"active":(ViewBag.TravelREQID==0?"active":""))">


        <a onclick="ShowLoadingDialog();window.location='@Url.Action("CreateRequest",
        new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString()+"*/Travel/CreateRequest*"+ViewBag.TravelREQID+"*"+ViewBag.RequestType) })';">
            1<span>Booking Details</span>
        </a>
    </div>
    <div class="circle @(ViewBag.TabIndex==2?"active":"")">
        <a onclick="ShowLoadingDialog();window.location='@Url.Action("CreateItinerary", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString()+"*/Travel/CreateItinerary*"+ViewBag.TravelREQID+"*"+ViewBag.RequestType) })';">2 <span>Itinerary</span></a>
    </div>
</div>