
@model Mitr.Models.Recruit.Request.Fill
@using System.Data
@{
    ViewBag.Title = "Request Fill";
}
@{
    string MenuID = ViewBag.MenuID.ToString();
}
@using (Ajax.BeginForm("FillRequests", "Recruit",
      new { src = ViewBag.src },
      new AjaxOptions { HttpMethod = "POST", OnSuccess = "FillRequestSuccess", OnBegin = "ShowLoadingDialog();", OnFailure = "CloseLoadingDialog();" },
  new { @id = "FillRequestFrom", enctype = "multipart/form-data" })
  )
{

    <div class="inner-main mb-5 pb-0">
        <h1 class="heading-one ">Fill Recruitment </h1>
        @if (!string.IsNullOrEmpty(Model.AmendRemarks))
        {
            <div class="text-right">
                @Model.AmendRemarks
            </div>
        }
        <h2 class="header-two"><i class="fas fa-info-circle"></i>Project Information</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Project Name</label>
                @Html.HiddenFor(x => Model.ProjectID)
                @Html.HiddenFor(x => Model.REC_ReqID)
                @Html.HiddenFor(x => Model.ProjectDetailID)
                @Html.TextBoxFor(x => Model.ProjectName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Project Manager</label>
                @Html.HiddenFor(x => Model.ManagerID)
                @Html.TextBoxFor(x => Model.Managername, new { @class = "form-control", @readonly = "readonly" })

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Start Date</label>
                @Html.TextBoxFor(x => Model.StartDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>End Date</label>
                @Html.TextBoxFor(x => Model.EndDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <h2 class="header-two"><i class="fas fa-users"></i>Hiring Details</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Job Title</label>
                @Html.HiddenFor(x => Model.JobID)
                @Html.TextBoxFor(x => Model.JobTitle, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>%Time</label>
                @Html.TextBoxFor(x => Model.Time_Per, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Thematic Area</label>
                @Html.HiddenFor(x => Model.ThemAreaID)
                @Html.TextBoxFor(x => Model.ThematicArea, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Location</label>
                @Html.HiddenFor(x => Model.LocationID)
                @Html.TextBoxFor(x => Model.LocatioNName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Job Sub Title</label>
                @Html.TextBoxFor(x => Model.Job_SubTitle, new { @class = "form-control", @placeholder = "Enter" })
                @Html.ValidationMessageFor(model => model.Job_SubTitle, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6  form-group">
                <label>Due Date</label>
                @Html.TextBoxFor(x => Model.DueDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 form-group divExtOnly" style="display:block">
                <label>Staff Category<sup style="color: red;">*</sup></label>
                @*<select class="form-control dpselect select2-hidden-accessible OfferIssued" tabindex="-1" aria-hidden="true" id="ddlEmployeeCategory" onchange="EmployeeCategory();">
                    </select>*@
                @{
                    List<SelectListItem> D1 = new List<SelectListItem>
                    {
                                                                                new SelectListItem{Text="Term Based",Value="Term Based" },
                                                                                new SelectListItem{Text="Core Based",Value="Core Based" }
                                                                                };
                }
                @Html.DropDownListFor(model => model.Staff_Cat, new SelectList(D1, "Value", "text", Model.Staff_Cat), "Select", new { @class = "form-control applyselect" })
                @Html.ValidationMessageFor(model => model.Staff_Cat, "", new { @class = "text-danger" })


            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 form-group divExtOnly" style="display:block">
                <label>Project Vacancy Tagging</label>
                @Html.HiddenFor(model => model.Project_Tag)
                <select id="@Html.IdFor(x => Model.Project_TagID)" name="@Html.NameFor(x => Model.Project_TagID)" multiple="multiple" class="form-control applyselect">

                    @foreach (var item in Model.PendingRECList)
                    {
                        if (string.IsNullOrEmpty(Model.Project_Tag))
                        {
                            <option value="@item.ID"> @item.Name</option>
                        }
                        else
                        {
                            <option @(("#" + Model.Project_Tag.Replace(",", "#,#") + "#").Contains(("#" + item.ID + "#").ToString()) ? "selected" : "") value="@item.ID"> @item.Name</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Project_TagID, "", new { @class = "text-danger" })
            </div>

        </div>
        <h2 class="header-two"><i class="fas fa-file-alt"></i>JD Details</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6  form-group h-300">
                <label>Job Description</label>
                @Html.TextAreaFor(x => Model.JobDescription, new { @class = "form-control " })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  form-group h-300">
                <label>Qualification</label>
                @Html.TextAreaFor(x => Model.Qualification, new { @class = "form-control" })

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                <label>Skills</label>
                @Html.HiddenFor(model => model.Skills)
                <select data-val='true' data-val-required="Skills Can't be Blank" id="@Html.IdFor(x => Model.SkillsID)" name="@Html.NameFor(x => Model.SkillsID)" multiple="multiple" class="form-control applyselect">
                    @if (ViewBag.Skills != null)
                    {

                        foreach (var item in ViewBag.Skills)
                        {
                            if (string.IsNullOrEmpty(Model.Skills))
                            {
                                <option value="@item.ID"> @item.Name</option>
                            }
                            else
                            {
                                <option @(("#" + Model.Skills.Replace(",", "#,#") + "#").Contains(("#" + item.ID + "#").ToString()) ? "selected" : "") value="@item.ID"> @item.Name</option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6  form-group">
                <label>Min. Experience</label>
                <div class="input-group w-80">

                    @Html.TextBoxFor(x => Model.Experience, new { @class = "form-control" })
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Yrs</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-12">
                <ul class="list-unstyled inlinelist">
                    <li>
                        <input type="checkbox" id="ric" name="@Html.NameFor(x => Model.REC_Type)" @(!string.IsNullOrEmpty(Model.REC_Type) ? "disabled" : "") @(string.IsNullOrEmpty(Model.REC_Type) || Model.REC_Type == "Internal" ? "checked" : "") value="Internal" class="chkRecruitment">
                        <label for="ric"> Recommend Internal Candidate </label>
                    </li>
                    <li>
                        <input type="checkbox" id="peh" name="@Html.NameFor(x => Model.REC_Type)" @(!string.IsNullOrEmpty(Model.REC_Type) ? "disabled" : "") @(Model.REC_Type == "External" ? "checked" : "") value="External" class="chkRecruitment">
                        <label for="peh"> Process for External Hiring </label>
                    </li>
                    <li>
                        <input type="checkbox" id="Dir" name="@Html.NameFor(x => Model.REC_Type)" @(!string.IsNullOrEmpty(Model.REC_Type) ? "disabled" : "") @(Model.REC_Type == "Direct" ? "checked" : "") value="Direct" class="chkRecruitment" onclick="GenerateLink();">
                        <label for="Dir"> Direct Recruitment </label>
                    </li>
                </ul>
                <span id="checkbox-error" style="color: red; display: none;">Please select any one option</span>
            </div>

            <div class="col-lg-12 form-group">
                <div id="signup" class="col-sm-5 mt-3 mb-3 hide">
                    <div id="inviteCode" class="invite-page">
                        <label class="lbl-abs">Application Link</label>

                        <input id="link"
                               value="@($"{clsApplicationSetting.GetConfigValue("WebsiteURL")}Career/Home/DirectApplication?Code=JOBID-{Model.REC_ReqID}")"
                               readonly>
                        <div id="copy" data-toggle="tooltip" data-original-title="Copy Link">
                            <i class="fa fa-clipboard" aria-hidden="true" data-copytarget="#link"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row divforinternalonly">
            <div class="col-md-6 col-sm-12 form-group">
                <div id="divSelectedCandidate">
                    @{ Html.RenderAction("_IStaffList", "Recruit", new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + " */Recruit/_IStaffList*" + ViewBag.REC_ReqID) }); }
                </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
                <strong>Approval by</strong>
                <div class="text-center mt-2 slt-emp dcenter">
                    <div class="add-slt slt-scroll form-group">
                        <label>Recommenders</label>
                        <select id="@Html.IdFor(x => Model.RecommendersID)" name="@Html.NameFor(x => Model.RecommendersID)" multiple="multiple" class="form-control applyselect">
                            @if (Model.EmpList != null)
                            {
                                foreach (var item in Model.EmpList)
                                {
                                    if (string.IsNullOrEmpty(Model.Recommenders))
                                    {
                                        <option value="@item.ID"> @item.Name</option>
                                    }
                                    else
                                    {
                                        <option @(("#" + Model.Recommenders.Replace(",", "#,#") + "#").Contains(("#" + item.ID + "#").ToString()) ? "selected" : "") value="@item.ID"> @item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <table class="table mt-0">
                    <tbody>
                        <tr>
                            <td><strong>Final Decision Maker</strong></td>
                            <td colspan="2" class="tw-100">
                                <select id="@Html.IdFor(x => Model.FinalApproverID)" name="@Html.NameFor(x => Model.FinalApproverID)" class="form-control applyselect">
                                    @if (Model.EmpList != null)
                                    {
                                        <option value="">Select</option>
                                        foreach (var item in Model.EmpList)
                                        {
                                            <option @(Model.FinalApproverID == item.ID ? "selected" : "") value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        @if (Model.IsBtnVisible)
        {
            <div class="row">
                <div class="col-lg-12 text-center mt-3 mb-2">
                    <button type="button" class="btn mtr-g-grn btnStaff"><i class="fas fa-user-check"></i>Staff Availability</button>
                    <button type="submit" class="btn mtr-o-grn" id="formSubmitButton" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                    @Html.CreateAnchor(MenuID, "/Recruit/Requests", "Back", "btn cnl-btn btn-l ripplelink", "Click to go back", "fas fa-arrow-left", "")
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12 text-center mt-3 mb-2">
                    <button type="button" id="Dir" onclick="GenerateLink();" class="btn mtr-o-grn btn-l ripplelink pull-right cancel" name="Command" value="Direct"><i class="fas fa-save"></i>Generate Link</button>
                </div>
            </div>
        }
    </div>


}

<div class="modal fade pop-dgn" id="staffavailabilityModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header blk-gdn-btn">
                <h4 class="modal-title"><i class="fas fa-user-check"></i>Staff Availability</h4>
                <div class="close" data-dismiss="modal">&times;</div>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-3  form-group">
                        <select id="ddLocation" class="applyselect">
                            <option value="0">Location</option>
                            @if (Model.LocationList != null)
                            {
                                foreach (var item in Model.LocationList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3  form-group">
                        <select id="ddJobTitle" class="applyselect">
                            <option value="0">Job Title</option>
                            @if (Model.JOBList != null)
                            {
                                foreach (var item in Model.JOBList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  form-group">
                        <select id="ddPillar" class="applyselect">
                            <option value="0">Pillar</option>
                            @if (Model.PillarList != null)
                            {
                                foreach (var item in Model.PillarList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3  form-group">
                        <a class="btn mtr-g-grn btn-l ripplelink btnStaff">
                            <i class="fas fa-search"></i>Search
                        </a>
                    </div>
                </div>
                <div id="divTargetStaff"> </div>
            </div>
        </div>
    </div>
</div>

@section scripts    {

    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ckeditor.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/AddInit.js"))
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
    <script>
		ClassicEditor
			.create(document.querySelector('#JobDescription'), {
				// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
			})
			.then(editor => {
				window.editor = editor;
			})
			.catch(err => {
				console.error(err.stack);
			});

		ClassicEditor
			.create(document.querySelector('#Qualification'), {
				// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
			})
			.then(editor => {
				window.editor = editor;
			})
			.catch(err => {
				console.error(err.stack);
			});


		function FillRequestSuccess(obj) {

			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				window.location.href = obj.RedirectURL;
			}
			else {
				CloseLoadingDialog();
				FailToaster(obj.SuccessMessage);
			}
		}



		function StaffAvailabilityList() {
			debugger;
			var PillarID = $("#ddPillar option:selected").val();
			var LocationID = $("#ddLocation option:selected").val();
			var JobID = $("#ddJobTitle option:selected").val();
             ShowLoadingDialog();
			 $.ajax({
				 url: "/Recruit/_IAvailStaffList",
				 type: "Get",
				 data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Recruit/_IAvailStaffList" + "*" + @ViewBag.REC_ReqID+"*" + PillarID + "*" + LocationID + "*" + JobID) },
				 success: function (data) {
					 $("#divTargetStaff").empty();
					 $("#divTargetStaff").html(data);
					 $("#staffavailabilityModal").modal('show');
					 CloseLoadingDialog();
					 $(".applyselect").select2();
					 var table = $('#tblStaff').DataTable();

					 $('#InternalStaffSuccessFrom').on('submit', function (e) {
						 var form = this;
						 // Encode a set of form elements from all pages as an array of names and values
						 var params = table.$('input,select,textarea').serializeArray();
						 // Iterate over all form elements
						 $.each(params, function () {
							 // If element doesn't exist in DOM
							 if (!$.contains(document, form[this.name])) {
								 // Create a hidden element
								 $(form).append(
									 $('<input>')
										 .attr('type', 'hidden')
										 .attr('name', this.name)
										 .val(this.value)
								 );
							 }
						 });
					 });

				 },
				 error: function (er) {
					 CloseLoadingDialog();
				 }
			 });
		}

		function AvailStaffListSuccess(obj) {
			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				$("#staffavailabilityModal").modal('hide');
				GetIStaffList();
				CloseLoadingDialog();

			}
			else {
				CloseLoadingDialog();
				FailToaster(obj.SuccessMessage);
			}

		}

		function DeleteIStaff(obj) {
			var ICI = $(obj).closest("tr").find("input:hidden[name=IStaffID]").val();
			var EN = $(obj).closest("tr").find("input:hidden[name=EMPName]").val();
			ConfirmMsgBox('Are you sure want to delete Candidate ' + EN, '', function () {
				$.ajax({
					url: "/CommonAjax/Delete_IStaff",
					type: "Get",
					async: true,
					data: { REC_IStaffID: ICI },
					success: function (data) {
						if (data == 1) {
							GetIStaffList();
							SuccessToaster('Candidate Removed');
						}
						else {
							FailToaster('Can not delete this request');
						}
					},
					error: function (er) {
						alert(er);
					}
				});
			});
		}

		function GetIStaffList() {

                ShowLoadingDialog();
                $.ajax({
					url: "/Recruit/_IStaffList",
                    type: "Get",
					data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Recruit/_IStaffList"+ "*" + @ViewBag.REC_ReqID) },
                    success: function (data) {
                        $("#divSelectedCandidate").empty();
                        $("#divSelectedCandidate").html(data);
                        CloseLoadingDialog();
                    },
                    error: function (er) {
                        alert(er);
                        CloseLoadingDialog();

                    }
                });

		}

		//$(document).ready(function () {
		//	var obj = {
		//		ParentId: 0,
		//		masterTableType: 18,
		//		isMasterTableType: false,
		//		isManualTable: false,
		//		manualTable: 0,
		//		manualTableId: 0
		//	}
		//	LoadMasterDropdown('ddlEmployeeCategory', obj, 'Select', false);
		//})

    </script>

    <script>
        $('.chkRecruitment').bind("change", function () {
			var a = $(this).val();
			$('input[name="' + this.name + '"]').not(this).prop('checked', false);
			if (a === "Internal") {
				$(".btnStaff").show();
				$(".divforinternalonly").show();
				$(".divExtOnly").hide();
                $("#signup").hide();
			}
            if (a == "Direct") {
				$(".signup").show();
				$(".divforinternalonly").hide();
				$(".divExtOnly").show();
                  $("#signup").show();
			}
			else {
				$(".btnStaff").hide();
				$(".divforinternalonly").hide();
				$(".divExtOnly").show();
                 $("#signup").hide();
			}
		});

		$('.btnStaff').on('click', function (e) {
			StaffAvailabilityList();

		});

                  function GenerateLink() {
              const dirCheckbox = document.getElementById('Dir');
              const signupSection = document.getElementById('signup');

              if (dirCheckbox.checked) {
                  signupSection.classList.remove('hide');
              } else {
                  signupSection.classList.add('hide');
              }
            }
                $('#copy').on('click', function (event) {
                    copyToClipboard(event);
                });

                function copyToClipboard(e) {
                    var target = e.target,
                        copyTarget = target.dataset.copytarget,
                        input = document.querySelector(copyTarget);

                    if (input && input.select) {
                        input.select();
                        try {
                            document.execCommand('copy');
                            input.blur();

                            target.classList.add('copied');
                            setTimeout(function () {
                                target.classList.remove('copied');
                            }, 1500);
                        } catch (err) {
                            alert('Please press Ctrl/Cmd+C to copy');
                        }
                    }
                }
                document.getElementById('Dir').addEventListener('change', function() {
                    const btnGenerateLink = document.getElementById('btnGenerateLink');
                    if (this.checked) {
                        console.log("Direct hiring process selected");
                        btnGenerateLink.style.display = 'block';
                    } else {
                        console.log("Direct hiring process not selected");
                        btnGenerateLink.style.display = 'none';
                    }
                });

    </script>


    <script>
    document.getElementById('formSubmitButton').addEventListener('click', function(event) {
        var isRicChecked = document.getElementById('ric').checked;
        var isPehChecked = document.getElementById('peh').checked;
        var isDirChecked = document.getElementById('Dir').checked;
        if (!isRicChecked && !isPehChecked && !isDirChecked) {
            event.preventDefault();
            document.getElementById('checkbox-error').style.display = 'block';
        } else {
            document.getElementById('checkbox-error').style.display = 'none';
        }
    });
    </script>

}
