@using System.Data
@model Mitr.Models.Recruit.Tabs

@section style{
	@System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
@{
	string MenuID = "0";
	if (ViewBag.MenuID != null)
	{
		MenuID = ViewBag.MenuID;
	}
}
<div class="inner-main">
	<div class="right_col" role="main">
		@Html.Partial("HeaderMsg_Partial")
		<h1 class="heading-one"> Selection Process List </h1>

		@using (Ajax.BeginForm("_SelectionProcessList_View", "Recruit",
		   new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Recruit/_SelectionProcessList_View") },
		   new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget" },
	   new { @id = "_SelectionProcessList_ViewFrom" })
	   )
		{

			<div class="tab-main ">
				<div class="row text-clr">
					<div class="col-md-12">

						<ul id="tabs" class="nav nav-tabs " role="tablist">
							<li class="nav-item"> <a tabvalue="0" class="nav-link active ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-clock"></i>Pending</a> </li>
							<li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-database"></i>Processed</a> </li>
						</ul>
					</div>

					<div style="display:none">
						@Html.HiddenFor(model => model.Approve)
						<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search">
							<i class="fas fa-search"></i>Search
						</button>
					</div>

				</div>
			</div>

		}
		<div class="col-md-12">
			<div id="TargetDiv"></div>
		</div>

	</div>
</div>

@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")
	<script src="~/assets/design/Scripts/AddInit.js?v=@clsApplicationSetting.GetWebConfigValue("Version")"></script>
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs");


	<script>
        $(document).ready(function () {
            $("#btnSearch").click();
        });
        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approve").val(att);
            ShowLoadingDialog();
            $("#btnSearch").click();
        });


        function BindTarget(args) {
            CloseLoadingDialog();
            $("#TargetDiv").empty();
            $("#TargetDiv").html(args);
        }

		function ListAdd(ID) {
				var ID = Number(ID);
				var MenuID = Number('@MenuID');
                ShowLoadingDialog();
			var url = "/Recruit/SelectionProcess_View?src=" + EncryptQueryStringJSON(MenuID + "*" + "/Recruit/SelectionProcess_View" + "*" + ID);
                window.location = url;
	}
		
	</script>
}