@model ListTabs
@section style{
	@System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
@{
	string MenuID = "0";
	if (ViewBag.MenuID != null)
	{
		MenuID = ViewBag.MenuID;
	}
}
<div class="inner-main">
	<div class="right_col" role="main">
		@Html.Partial("ListHeader_Partial", "Employee Master")
		@*<input type="hidden" id="hdnExportUrl" name="hdnExportUrl" value="/Employee/EmployeesExcelToExport" />*@
		<input type="hidden" id="hdnAddUrl" name="hdnAddUrl" value="@Url.Action("RegistrationDetails",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Employee/RegistrationDetails*0") })" />

		@using (Ajax.BeginForm("_EmployeeList", "Employee",
		   new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/Employee/_EmployeeList") },
		   new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget" },
	   new { @id = "_EmployeeListFrom" })
	   )
		{



			<div class="tab-main ">
				<div class="row text-clr">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<input type="file" id="FileAttachment" name="UploadedFile" class="file-inp" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet/.xls" />

					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 align-self-center">
						<button type="button" class="btn mtr-g-grn" onclick="saveAttachment()"><i class="fas fa-file-alt"></i>Import</button>

						@*<button type="button" class="btn mtr-g-grn" target="_blank" onclick="getEmployeesInExcel()"><i class="fas fa-download"></i>Export Format</button>*@
						@if (clsApplicationSetting.GetSessionValue("LoginID") == "1")
						{
							<a class="btn mtr-g-grn" target="_blank" href="/Employee/EmployeesExcelToExport"><i class="fas fa-download"></i>Export Format</a>
						}

						<a href="~/Attachments/Templates/EmployeeImport.xlsx" download="Employee_Format" class="btn mtr-g-grn"><i class="fas fa-download"></i>Download Import Template</a>
					</div>
					<div class="col-md-12">
						<ul id="tabs" class="nav nav-tabs " role="tablist">
							<li class="nav-item"> <a tabvalue="0" class="nav-link active ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-clock"></i>Staff</a> </li>
							<li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-database"></i>Staff in Waiting</a> </li>
							<li class="nav-item"> <a tabvalue="2" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-check"></i>Open Offers</a> </li>
							<li class="nav-item"> <a tabvalue="3" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-file-alt"></i>Alumni</a> </li>
						</ul>
					</div>
					<div style="display:none">
						@Html.HiddenFor(model => model.Approve)
						<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search">
							<i class="fas fa-search"></i>Search
						</button>
					</div>
				</div>
			</div>

		}

		<div id="TargetDiv"></div>
	</div>
</div>


@section scripts    {

	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncScripts.js"))
	<script>
        $(document).ready(function () {
            $("#btnSearch").click();
        });
        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approve").val(att);
            ShowLoadingDialog();
            $("#btnSearch").click();
        });


        function BindTarget(args) {
            CloseLoadingDialog();
            $("#TargetDiv").empty();
            $("#TargetDiv").html(args);
		}


		function ListAdd(ID) {
				var ID = Number(ID);
				var MenuID = Number('@MenuID');
                ShowLoadingDialog();
            var url = "/Employee/RegistrationDetails?src=" + EncryptQueryStringJSON(MenuID + "*" + "/Employee/RegistrationDetails" + "*" + ID);
                window.location.href = url;
	}
        function saveAttachment() {
            var fileUpload = $("#FileAttachment").get(0);
            var files = fileUpload.files;
            // Create FormData object
            if (files.length == 0) {
                // showAndDismissAlert("danger","Please Choose File First.")
                $("#FileAttachment").focus();
                return
            }
            var fileData = new FormData();
            if (files.length > 0) {
                fileData.append("FileAttachment", files[0]);
                ShowLoadingDialog();
                $.ajax({
                    url: "/CommonAjax/UploadEmployee",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: fileData,
                    success: function (response) {
                        $("#FileAttachment").val(null);
                        //  window.location.reload();
                        //alert(response.SuccessMessage);
                        CloseLoadingDialog();
                        swal('', response.SuccessMessage);
                        if (response.ID != "0") {
                            $("#FileAttachment").val(null);
                            window.location.reload();
                        }
                    }
                });
            }
		}
	</script>
}