@model ChangePassword
@{
    Layout = null;
    string PageName = ClsCommon.GetPageName();
}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@PageName </title>
    <meta name="title" content="@PageName" />
    <meta name="keywords" content="@PageName" />
    <meta name="description" content="@PageName" />

    <link rel="icon" href="@Url.Content("~/assets/design/images/favicon.png")" type="image/png" sizes="50x50">
    @Html.IncludeVersionedCss(Url.Content("~/assets/design/css/icons.css"))
    @Html.IncludeVersionedCss(Url.Content("~/assets/design/css/bootstrap.min.css"))
    @Html.IncludeVersionedCss(Url.Content("~/assets/design/css/animate.min.css"))
    @Html.IncludeVersionedCss(Url.Content("~/assets/design/css/login.min.css"))
    @Html.IncludeVersionedCss(Url.Content("~/assets/design/css/responsive.min.css"))
</head>
<body class="login-bg ps-dgn">


    <div class="login-page alert-mgs wow zoomIn" data-wow-delay="0.1s" style="visibility: hidden; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">

        <div class="login-logo">
            @Html.CreateImage("mitr-logo-2.jpg", "Logo", "Noimage")
        </div>

        <div class="login-header ">
            <h2 class="mtr-o-clr">Please Change Your Password</h2>

        </div>
        @using (Html.BeginForm("ChangePassword", "Account",
    FormMethod.Post,
new
{
    name = "ChangePasswordForm",
    id = "ChangePasswordForm",
    @class = "login-form",
    enctype = "multipart/form-data"
}))
        {
            @Html.HiddenFor(model => model.Token)
            @Html.HiddenFor(model => model.LoginID)
            <div class="row">
                @if (string.IsNullOrEmpty(Model.Token))
                {
                <div class="col-lg-12 form-group">
                    <label>Old Password <sup>*</sup></label>
                    <div class="showimg">
                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "Old Password" })
                        <a onmouseup="ShowPasswordAndHide(this);" onmousedown="ShowPasswordAndHide(this);" onmouseout="ShowPasswordAndHide(this,'hide');">
                            <i class="fas fa-eye-slash showiocn"></i>
                        </a>
                    </div>
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                </div> }
                else
                {
                @Html.HiddenFor(model => model.OldPassword)
                }

                <div class="col-lg-12 form-group">
                    <label>New Password <sup>*</sup></label>
                    <div class="showimg">
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "New Password" })
                        <a onmouseup="ShowPasswordAndHide(this);" onmousedown="ShowPasswordAndHide(this);" onmouseout="ShowPasswordAndHide(this,'hide');">
                            <i class="fas fa-eye-slash showiocn"></i>
                        </a>
                    </div>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })


                </div>

                <div class="col-lg-12 form-group">
                    <label>Confirm Password <sup>*</sup></label>
                    <div class="showimg">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "Confirm Password" })
                        <a onmouseup="ShowPasswordAndHide(this);" onmousedown="ShowPasswordAndHide(this);" onmouseout="ShowPasswordAndHide(this,'hide');">
                            <i class="fas fa-eye-slash showiocn"></i>
                        </a>
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })


                </div>

                @if (TempData["LoginErrorMsg"] != null)
                {
                    <div class="col-lg-12 form-label-group">
                        @if (TempData["LoginErrorMsg"].ToString() != "")
                        {
                            <div class="lgn-err">
                                @TempData["LoginErrorMsg"]
                            </div>
                        }
                    </div>
                }

            <div class="col-lg-12 login-footer">
                <a class="pull-left btn" href="/Dashboard"><i class="fas fa-arrow-left"></i> Back</a>

                <button name="Command" value="Save" class="btn mtr-o-grn float-right" type="submit">Save</button>

            </div>
            </div>

        }
    </div>



    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/jquery-3.4.1.min.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/popper.min.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/bootstrap.min.js"))
    @Html.IncludeVersionedJs(Url.Content("/assets/design/js/wow.min.js"))
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/CustomValidate.min.js"))

    <script>
        wow = new WOW();
        wow.init();

        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };



        function ShowPasswordAndHide(obj, res) {
            var x = $(obj).closest("div").find(".txtPassword");
            if (res == undefined) {
                if (x.prop('type') === "password") {
                    $(x).prop("type", "text");
                    $(obj).html("<i class='fas fa-eye showiocn'></i>");
                } else {
                    $(x).prop("type", "password");
                    $(obj).html("<i class='fas fa-eye-slash showiocn'></i>");
                }
            } else {
                $(x).prop("type", "password");
                $(obj).html("<i class='fas fa-eye-slash showiocn'></i>");
            }
        }

    </script>

</body>


</html>