@model Employee.Declaration


@if (ViewBag.Mobile == "Mobile")
{
	Layout = "~/Views/Shared/_MLayoutPage.cshtml";

}
@Html.Partial("_EmployeeHeader")

<div class="mb-100">
	<!---->
	<div class="inner-main mb-5 defult-height">


		<div class="tab-main mb-5">
			<ul id="tabs" class="nav nav-tabs " role="tablist">
				<li class="nav-item"> <a id="tab-A" href="#active-log" onClick="showtable(1);" class="nav-link active ripplelink" data-toggle="tab" role="tab"><i class="fas fa-clock"></i>Pending</a> </li>
				<li class="nav-item"> <a id="tab-B" href="#leaves" onClick="showtable(2);" class="nav-link ripplelink" data-toggle="tab" role="tab"><i class="fas fa-check"></i>Approved </a></li>

			</ul>
			<div id="content" class="tab-content p-0" role="tablist">
				<div id="active-log" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
					<div class="card-header" role="tab" id="heading-A">
						<h5 class="mb-0">
							<!-- Note: `data-parent` removed from here -->
							<a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A"> <i class="fas fa-ticket-alt"></i> Pending </a>
						</h5>
					</div>

					<!-- Note: New place of `data-parent` -->

					<div id="TargetDiv">

					</div>

				</div>
				<div id="submitted" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
					<div class="card-header" role="tab" id="heading-B">
						<h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B"><i class="fa fa-check" aria-hidden="true"></i> Submitted</a> </h5>
					</div>
					<div id="TargetDivApproved">

					</div>
				</div>

			</div>
		</div>


	</div>

</div>
<div class="modal fade pop-dgn" id="ViewModal">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content ">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><i class="fas fa-sticky-note"></i><label id="lbldcname"></label></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<input type="hidden" value="" id="hdfId" />
			<input type="hidden" value="" id="hdfAccept" />
			<input type="hidden" value="" id="hdfStatus" />
			<input type="hidden" value="" id="hdfReqRemark" />
			<input type="hidden" value="" id="hdfDueDate" />
			<!-- Modal body -->
			<div class="modal-body pl-2 pr-2">

				<div class="row">
					<div class="col-sm-12">
						<div class="scroll mxh-264 " id="divContent"></div>
					</div>
					<div class="col-sm-12">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
					<div class="col-sm-12 form-group " style="display:none" id="divrdb">
						<ul class="list-unstyled radio-btn rdo-block">

							<li class="radio">
								<input type="radio" onclick="CheckRadio()" id="nothing" class="form-control" name="Status" value="1" />
								<label for="nothing" class="radio-label">I have nothing to declare</label>
							</li>
							<li class="radio">
								<input type="radio" onclick="CheckRadio()" id="declare" class="form-control" name="Status" value="2" />
								<label for="declare" class="radio-label">I declare the following interests on behalf of myself and/or my family member:</label>
							</li>
						</ul>

					</div>
				</div>
				<!-- Modal footer -->
				<div class="ftr-shw">


					<div class="row" id="submit_buttonsdw">
						<div class="form-group col-sm-12" id="divremark">
							@*<label>Remark</label>*@
							<textarea class="form-control h-150" id="txtremark" placeholder="Enter"></textarea>
						</div>


						<div class="col-sm-12" id="divchk">
							<input type="checkbox" class="newwidth acceptchksdw chknew" id="acceptchksdw" name="">
							<label for="acceptchksdw"><b>I acknowledge that I have read the above policy and declaration and understand that abiding by the terms of the policy is a condition of my employment at C3 and any violation of the term(s) of the above policy may result in disciplinary action, which may include termination.</b></label>
						</div>
						<div class="col-sm-12 text-center" id="divbutton">
							<button type="button" id="btnconfirm" onclick="btnconfirm()" class="btn mtr-o-grn btn-l m-0 checkbtnsdw"><i class="fas fa-paper-plane"></i>Submit</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	@section scripts    {
	
		@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
		@Html.IncludeVersionedJs(Url.Content("~/assets/design/scripts/AddInit.js"))
		@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
		@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ckeditor.js"))

<script>
	$(document).ready(function () {

		showtable(1);



	});

	function showtable(tabname) {
			debugger;

			var val = '@ViewBag.Mobile';
	         var number = parseInt(@ViewBag.LocationId);
	     	if(val=="Mobile"){

			if (tabname == "1") {
			ShowLoadingDialog();
			$.ajax({
				url: "/Account/_NewPendingDeclaration",
				type: "Get",
				async: true,
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_PendingDeclaration" + "*" + @ViewBag.EMPID+"*" + "Mobile"+"*"+@ViewBag.UserId+"*"+@ViewBag.LocationId) },
				//data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_NewPendingDeclaration" + "*" + @ViewBag.EMPID+"*" + "Mobile"+"*"+@ViewBag.UserId) },
				success: function (data) {

					$("#TargetDiv").empty();
					$("#TargetDiv").html(data);
					CloseLoadingDialog();



				},
				error: function (er) {
					alert(er);

				}
			});

		}
		else if (tabname == "2") {

			ShowLoadingDialog();
			$.ajax({
				url: "/Account/_ApproveDeclaration",
				type: "Get",
				async: true,
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_ApproveDeclaration" + "*" + @ViewBag.EMPID+"*" + "Mobile"+"*"+@ViewBag.UserId+"*"+@ViewBag.LocationId) },
		        // data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_ApproveDeclaration" + "*" + @ViewBag.EMPID+"*" + "Mobile"+"*"+@ViewBag.UserId) },
				success: function (data) {


					$("#TargetDiv").html(data);
					CloseLoadingDialog();
					//DatatableScriptsWithColumnSearch("ApprovedTable");


				},
				error: function (er) {
					alert(er);

				}
			});




		}
		}
		else{

			if (tabname == "1") {
			ShowLoadingDialog();
			$.ajax({
				url: "/Account/_NewPendingDeclaration",
				type: "Get",
				async: true,
				data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_NewPendingDeclaration" + "*" + @ViewBag.EMPID) },
				success: function (data) {

					$("#TargetDiv").empty();
					$("#TargetDiv").html(data);
					CloseLoadingDialog();



				},
				error: function (er) {
					alert(er);

				}
			});

		}
		else if (tabname == "2") {
			ShowLoadingDialog();
		$("#TargetDiv").empty();
			$.ajax({
				url: "/Account/_ApproveDeclaration",
				type: "Get",
				async: true,
		        data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Account/_ApproveDeclaration" + "*" + @ViewBag.EMPID) },
				success: function (data) {
	            	debugger;
					$("#TargetDiv").empty();
					$("#TargetDiv").html(data);
					CloseLoadingDialog();
					//DatatableScriptsWithColumnSearch("ApprovedTable");


				},
				error: function (er) {
					alert(er);

				}
			});




		}
		}

	}
	$(".acceptchksdw").change(function () {

		if ($(this).is(":checked")) {
			$("#hdfAccept").val(1);
		}
		else {
			$("#hdfAccept").val(0);
		}
	});
	function btnconfirm() {

		var Id = $("#hdfId").val();
		var Accept = parseInt($("#hdfAccept").val());
		var Remark = $("#txtremark").val();
		var status = parseInt($("#hdfStatus").val());
		var ChkRemark = parseInt($("#hdfReqRemark").val());
		var DueDate = $("#hdfDueDate").val();
		var UserId = @ViewBag.UserId;
		var EmpId = @ViewBag.EMPID;
		if (isNaN(Accept)) {
			 Accept = 0;
		}

		if (parseInt(Id) > 0) {
			if (ChkRemark == 0) {
				if (Accept == 1) {
					$.ajax({
						url: "/CommonAjax/DeclrationApproved",
						type: "Get",
						async: true,
						data: { ID: Id, Accept: Accept, Remark: Remark, status: status,UserId:UserId,EmpId:EmpId ,DueDate:DueDate},
						success: function (data) {
							if (data == 1) {
								SuccessToaster('Declaration Submitted  successfully');
								window.location.reload();
							}
							else {
								FailToaster('Can not Approved.')
							}
						},
						error: function (er) {
							alert(er);
						}
					});
				}
				else {
					SuccessToaster('Please Select check box');
				}

			}
			else if (ChkRemark == 1) {
				if (status == 1 || status == 2) {
					$.ajax({
						url: "/CommonAjax/DeclrationApproved",
						type: "Get",
						async: true,
						data: { ID: Id, Accept: Accept, Remark: Remark, status: status,UserId:UserId,EmpId:EmpId,DueDate:DueDate  },
						success: function (data) {
							if (data == 1) {
								SuccessToaster('Declaration Submitted  successfully');
								window.location.reload();
							}
							else {
								FailToaster('Can not Approved.')
							}
						},
						error: function (er) {
							alert(er);
						}
					});
				}
				else {
					SuccessToaster('Please Select Tick');
				}
			}


		}
	}
	function CheckRadio() {
		var Radio = $("input[name='Status']:checked").val()
		$("#hdfStatus").val(Radio);
		if (Radio == "1") {
			$('#divremark').hide();
			$('#divchk').hide();
		}
		else if (Radio == "2") {
			$('#divremark').show();
			$('#divchk').hide();
		}
	}

	function ShowData(obj) {
		debugger;
		$("#nothing").prop('checked', false);
		$("#declare").prop('checked', false);
		$('#divremark').show();
		$('#divchk').show();
		$('#lbldcname').text("");
		$("#divbutton").show();
		$("#txtremark").val();
		$("#hdfId").val();
		$("#hdfStatus").val();
		$("#acceptchksdw" + name).prop('checked', false);
		$("#txtremark").val("");
		$("#hdfAccept").val(0);
		var ID = parseInt($(obj).closest('tr').find("td.hdftableid input[type='hidden']").val());
		var Name = $(obj).closest('tr').find("td.hdftableName input[type='hidden']").val();
		var RemarkName = $(obj).closest('tr').find("td.hdftableReqRemark input[type='hidden']").val();
		var DueDate = $(obj).closest('tr').find("td.hdftableDueDate input[type='hidden']").val();
		if (ID > 0) {
		
			$('#lbldcname').text(Name);
			$("#ViewModal").modal("show");
			$("#hdfId").val(ID)
			$("#hdfReqRemark").val(RemarkName)
			$('#divrdb').hide();
			$('#divContent').html("");
			$("#hdfDueDate").val(DueDate)
			if (RemarkName == "1") {
				$('#divrdb').show();
				$('#divremark').hide();
				$('#divchk').hide();


			}
			else {
				$('#divremark').hide();

			}

		}
		$.ajax({
			url: "/CommonAjax/ShowDeclarationContent",
			type: "Get",
			async: true,
			data: { ID: ID },
			success: function (data) {

				$("#btnconfirm").prop('disabled', false);
				$('#divContent').html(data);
			},
			error: function (er) {
				alert(er);
			}
		});
	}
	function ShowApprovedData(obj) {

		$('#lbldcname').text("");
		$("#txtremark").val();
		$("#hdfId").val();
		$("#hdfAccept").val();
		$("#acceptchksdw" + name).prop('checked', false);
		$("#nothing").prop('checked', false);
		$("#declare").prop('checked', false);
		var ID = parseInt($(obj).closest('tr').find("td.hdftableid input[type='hidden']").val());
		var Name = $(obj).closest('tr').find("td.hdftableName input[type='hidden']").val();

		if (ID > 0) {
			$('#lbldcname').text(Name);
			$("#ViewModal").modal("show");
			$("#hdfId").val(ID)
			$('#divrdb').hide();
			$('#divContent').html("");


		}
		$.ajax({
			url: "/CommonAjax/ShowDeclarationApprovedContent",
			type: "Get",
			async: true,
			data: { ID: ID },
			success: function (data) {


				$('#divContent').html(data.Content);
				$("#txtremark").val(data.Remark);
				if (data.Accept == 1) {
					$('#divremark').hide();
					$('#divchk').hide();
					$("#divchk").show();
					$("#acceptchksdw" + name).prop('checked', true);

				}
				else if (data.Status == "1") {
					$("#nothing").prop('checked', true);
					$('#divremark').hide();
					$('#divchk').hide();
					$("#divrdb").show();

				}
				else if (data.Status == "2") {

					$("#divrdb").show();
					$("#declare").prop('checked', true);
					$('#divchk').hide();

				}
				$("#divbutton").hide();
				//$("#btnconfirm").prop('disabled', true);
			},
			error: function (er) {
				alert(er);
			}
		});
	}
	function OnSuccess(obj) {
		if (obj.Status) {
			SuccessToaster(obj.SuccessMessage);
			window.location.reload();
		}
		else {
			FailToaster(obj.SuccessMessage);
			CloseLoadingDialog();
		}

	}
</script>
	}
