@model ChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="@Url.Content("~/assets/design/images/favicon.png")" type="image/x-icon">
	<link rel="icon" href="@Url.Content("~/assets/design/images/favicon.png")" type="image/png" sizes="50x50">
	@Html.IncludeVersionedCss(Url.Content("~/assets/design/css/icons.css"))
	@Html.IncludeVersionedCss(Url.Content("~/assets/design/css/bootstrap.min.css"))
	@Html.IncludeVersionedCss(Url.Content("~/assets/design/css/style.css"))
	
	@Html.IncludeVersionedCss(Url.Content("~/assets/design/css/m-style.css"))
	@Html.IncludeVersionedCss(Url.Content("~/assets/design/css/m-responsive.css"))
	<meta name="viewport" content="width=device-width" />
	<title>MChangePassword</title>
</head>
<body class="m_login-bg">

    <div class="m-container">
        <div class="topheader-m">
            <a onclick="ListDashAdd();" class="fn-bold"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
        <div class="mlgnhdr text-center cp-top-logo">
            <img src="~/assets/design/images/mitr-logo.png">
        </div>


        <div class="mlogin cpdgn">
            <h1 class="heading_m">Please Change Your Password</h1>
            @using (Html.BeginForm("MChangePassword", "Account",
FormMethod.Post,
new
{
    name = "MChangePasswordForm",
    id = "MChangePasswordForm",
    @class = "login-form",
    enctype = "multipart/form-data"
}))
            {
                @Html.HiddenFor(model => model.LoginID)
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="label-m">Old Password</label>
                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "Old Password" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        <span class="togglePassword"><i class="fas fa-eye-slash showIcon"></i></span>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="label-m">New Password</label>
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        <span class="togglePassword"><i class="fas fa-eye-slash showIcon"></i></span>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="label-m">Confirm Password</label>
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control txtPassword", @autofocus = "true", @type = "password", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <span class="togglePassword"><i class="fas fa-eye-slash showIcon"></i></span>
                    </div>
                    @if (TempData["LoginErrorMsg"] != null)
                    {
                        <div class="col-lg-12 form-label-group">
                            @if (TempData["LoginErrorMsg"].ToString() != "")
                            {
                                <div class="lgn-err">
                                    @TempData["LoginErrorMsg"]
                                </div>
                            }
                        </div>
                    }

                    <div class="col-sm-12 form-group text-center">
                        <button name="Command" value="Save" class="btn blk-gdn-btn" type="submit">Save</button>

                    </div>

                </div>
            }
        </div>


    </div>


    <script type="text/javascript" src="https://mitr2.sahajapps.com/assets/design/js/jquery-3.4.1.min.js?v=1.6"></script>
    <script type="text/javascript" src="https://mitr2.sahajapps.com/assets/design/js/jquery-3.4.1.min.js?v=1.6"></script>
    <script type="text/javascript" src="https://mitr2.sahajapps.com/assets/design/js/popper.min.js?v=1.6"></script>
    <script type="text/javascript" src="https://mitr2.sahajapps.com/assets/design/js/bootstrap.min.js?v=1.6"></script>


    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/jquery-3.4.1.min.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/popper.min.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/js/bootstrap.min.js"))
    @Html.IncludeVersionedJs(Url.Content("/assets/design/js/wow.min.js"))
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/CustomValidate.min.js"))
<script>
    		function ListDashAdd() {
		debugger;
		var ID = Number('@ViewBag.EmpId');
		var UserId = Number('@ViewBag.UserId');
		var MenuID = Number(0);
		//var url = "/Account/RegistrationDetails?Empid=" + ID;
		//var url = "/Account/MDashboard?src=" + EncryptQueryStringJSON(0 + "*" + "/Account/MDashboard" + "*" + ID+"*" + "Mobile"+"*"+UserId);
	var url = "/Account/MDashboard?src=" + EncryptQueryStringJSON(0 +  "*" +0 +  "*" + "/Account/MDashboard"  + "*" + ID+"*" + "Mobile"+"*"+""+"*"+""+"*"+""+"*"+UserId);
		window.location = url;
	}

    $(document).ready(function() {
            $('.togglePassword').click(function() {
                var x = $(this).closest("div").find(".txtPassword");
                if (x.prop('type') === "password") {
                    x.prop("type", "text"); // Change type to text to show the password
                    $(this).html("<i class='fas fa-eye showIcon'></i>"); // Update icon to 'eye' to indicate password is visible
                } else {
                    x.prop("type", "password"); // Change type back to password to hide it
                    $(this).html("<i class='fas fa-eye-slash showIcon'></i>"); // Update icon to 'eye-slash' to indicate password is hidden
                }
            });
        });
</script>

</body>
</html>
