@model  Project.BudgetDetails
@{
    string MenuID = ViewBag.MenuID.ToString();
}
@Html.Partial("_ProjectHeader")


<div class="mb-100">

    @using (Ajax.BeginForm("BudgetDetails", "Projects",
            new { src = ViewBag.src },
            new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()", OnFailure = "OnPostFailure()" },
        new { @id = "BudgetDetailsFrom", @autocomplete = "Off" })
        )
    {
        @Html.HiddenFor(x => x.ID)
        <div class="inner-main mb-3 pb-0">
            <div class="row">
                <div class="col-md-9 align-self-center">
                    <h2 class="headingtwo"><i class="fas fa-rupee-sign"></i>Budget Summary</h2>
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn mtr-g-grn mb-0" name="Command" value="Add"><i class="fas fa-upload"></i>Import Budget</a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12 form-group">
                    <label>Project Code:</label><p> <strong class="green-clr">@Model.doc_no</strong> </p>
                </div>

                <div class="col-md-12"></div>
                <div class="col-md-3 col-sm-4 form-group">
                    <label>Currency <sup>*</sup></label>
                    @Html.DropDownListFor(n => n.currency_id, new SelectList(Model.CurrencyList, "ID", "Name", Model.currency_id), "Select",
                                 new { @class = "form-control  applyselect" })
                    @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3 col-sm-4 form-group">
                    <label>Exchange Rate <sup>*</sup></label>
                    @Html.TextBoxFor(model => Model.ex_rate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.ex_rate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3 col-sm-4 form-group">
                    <label>Amount <sup>*</sup></label>
                    @Html.TextBoxFor(model => Model.amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.amount, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3 col-sm-4 form-group">
                    <label>Amount in INR </label>
                    @Html.TextBoxFor(model => Model.amount_inr, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.amount_inr, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


		<div class="ftr-btn">
			@if (clsApplicationSetting.GetSessionValue("RolesName") == "C3 Admin")
			{
				<button type="submit" class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-paper-plane"></i>Submit</button>
			}
			else
			{
				<button type="submit" disabled class="btn mtr-o-grn " name="Command" value="Add"><i class="fas fa-paper-plane"></i>Submit</button>
			}

			@if (Model.Inactive == 0 && Model.ID > 0)
			{
				<button type="submit" class="btn mtr-o-grn " name="Command" value="Live"><i class="fas fa-paper-plane"></i>Make It Live</button>
			}
			@*<a class="btn blk-gdn-btn" data-toggle="tooltip" data-original-title="Go Next" href="@Url.Action("SpecialConditions",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Projects/SpecialConditions*"+Model.ID) })">
			Next <i class="fas fa-angle-double-right m-0"></i>
		</a>*@

			<a class="btn cnl-btn" href="@Url.Action("ClientsDetails",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Projects/ClientsDetails*"+Model.ID) })">
				<i class="fas fa-angle-double-left m-0"></i>  Back
			</a>
			<a class="btn cnl-btn" href="@Url.Action("ProjectRegistrationList",new { src = clsApplicationSetting.EncryptFriendly(ViewBag.MenuID+"*"+"/Projects/ProjectRegistrationList") })">
				<i class="fas fa-times"></i> Close
			</a>

		</div>


    }

</div>


@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/scripts/AddInit.js"))
    <script>
      

        function OnSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.href = obj.RedirectURL;
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }


    </script>
}