@model MPRReports.Header

<div class="inner-main mb-5 pb-0">
    <h1 class="heading-one ">MPR Dashboard</h1>

    @using (Ajax.BeginForm("_MPRReports", "MPR",
            new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/MPR/_MPRReports") },
              new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnBegin = "ShowLoadingDialog()" },
        new { @id = "_MPRReportsFrom" })
        )
    {
        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2 slt-dgn  form-group">
                <label class="lbl-abs">Report</label>
                @{
                    List<SelectListItem> RptLis = new List<SelectListItem>
					{
						new SelectListItem{Value="",Text="Select" },
						//new SelectListItem{Value="1",Text="Achievement vs Org Target" },
						//new SelectListItem{Value="2",Text="Achievement vs Target" },
						new SelectListItem{Value="3",Text="State-Project Achievement View" },
						new SelectListItem{Value="4",Text="Project-State Achievement View" }
					};

                    List<SelectListItem> lstYear = new List<SelectListItem>
                    {
						new SelectListItem{Value="",Text="Select" },
						new SelectListItem{Value="2019",Text="2019" },
						new SelectListItem{Value="2020",Text="2020" },
						new SelectListItem{Value="2021",Text="2021" },
						new SelectListItem{Value="2022",Text="2022" },
					};
                }
                @Html.DropDownListFor(model => model.ReportName, new SelectList(RptLis, "Value", "text", Model.ReportName), new { @onchange = "Changeview(this)", @class = "form-control applyselect" })
                @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })

            </div>
            @*<div class="col-lg-2 col-md-2 col-sm-2  form-group DYears" style="display:none">
                <label class="lbl-abs">Year</label>
                @Html.DropDownListFor(model => model.Year, new SelectList(lstYear, "Value", "text", Model.Year), new { @class = "form-control applyselect" })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>*@
            <div class="col-lg-2 col-md-2 col-sm-2  form-group DDates" style="display:none">
                <label class="lbl-abs">Month</label>
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control actdate ddapplyaction", @type = "month" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  form-group DDates2" style="display:none">
                <label class="lbl-abs">End Date</label>
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control actdate ddapplyaction", @type = "month" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 slt-dgn  form-group DProject" style="display:none">
                <label class="lbl-abs">Project</label>
                @Html.DropDownListFor(x => Model.ProjectID, new SelectList(Model.ProjectList, "ProjectID", "ProjectName", Model.ProjectID), "Select Project",
        new { @class = "form-control  applyselect", @multiple = "true" })
                @Html.ValidationMessageFor(model => Model.ProjectID, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 slt-dgn  form-group DState" style="display:none">
                <label class="lbl-abs">State</label>
                @Html.DropDownListFor(x => Model.StateID, new SelectList(Model.StateList, "StateID", "StateName", Model.StateID), "Select State",
        new { @class = "form-control  applyselect", @multiple = "true" })
                @Html.ValidationMessageFor(model => Model.StateID, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 slt-dgn  form-group DSection" style="display:none">
                <label class="lbl-abs">Section</label>
                @Html.DropDownListFor(x => Model.SectionID, new SelectList(Model.SectionList, "SectionID", "SectionName", Model.SectionID), "Select Section",
        new { @class = "form-control  applyselect", @multiple = "true" })
                @Html.ValidationMessageFor(model => Model.SectionID, "", new { @class = "text-danger" })
            </div>

            <div class="align-self-center">
                <button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Search</button>
                <button type="button" class="btn mtr-g-grn btn-l ripplelink" id="btnExportAll" value="Search"><i class="fas fa-file-excel"></i>Export</button>
                
            </div>
        </div>
    }

    <div id="TargetDiv"></div>
</div>


@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/design/scripts/AddInit.js"))
    @Html.IncludeVersionedJs(Url.Content("~/assets/tableToExcel.js"))
    <script>
        $("#btnExportAll").click(function (e) {
            exportReportToExcelAll()
        });
        function exportReportToExcelAll() {
            let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
            TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                name: `MPR_Report.xlsx`, // fileName you could use any name
                sheet: {
                    name: 'Sheet 1' // sheetName
                }
            });
        }
        function Changeview(obj) {
            $("#TargetDiv").empty();
            var a = $(obj).find('option:selected').val();
            if (a == 1)
            {
                $(".DDates").show();
                $(".DProject").hide();
                $(".DState").hide();
                $(".DSection").show();
                $(".DYears").hide();


            }
            else if (a == 2) {
                $(".DDates").show();
                $(".DProject").show();
                $(".DState").hide();
                $(".DSection").show();
                $(".DYears").hide();
            }
            else if (a == 3 || a == 4) {
                $(".DDates").show();
                $(".DProject").hide();
                $(".DState").hide();
                $(".DSection").hide();
                $(".DYears").hide();
            }
            else {
                $(".DDates").hide();
                $(".DProject").hide();
                $(".DState").hide();
                $(".DSection").hide();
                $(".DYears").show();

            }
        }

        function BindTarget(obj) {
            CloseLoadingDialog()
            $("#TargetDiv").empty();
            $("#TargetDiv").html(obj);
        }

    </script>

    <script type="text/javascript">
        function fnExcelReport() {
            var table = document.getElementById('theTable'); // id of table
            var tableHTML = table.outerHTML;
            var fileName = 'achievement.xls';

            var msie = window.navigator.userAgent.indexOf("MSIE ");

            // If Internet Explorer
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                dummyFrame.document.open('txt/html', 'replace');
                dummyFrame.document.write(tableHTML);
                dummyFrame.document.close();
                dummyFrame.focus();
                return dummyFrame.document.execCommand('SaveAs', true, fileName);
            }
            //other browsers
            else {
                var a = document.createElement('a');
                tableHTML = tableHTML.replace(/  /g, '').replace(/ /g, '%20'); // replaces spaces
                a.href = 'data:application/vnd.ms-excel,' + tableHTML;
                a.setAttribute('download', fileName);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
        }
    </script>
}