@model LockUnlock

<div class="inner-main defult-height mb-5 pb-0">
	<h1 class="heading-one mb-3">Monthly Closure Form</h1>
	@using (Ajax.BeginForm("_SMPRLockUnlockList", "MPR",
			new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/MPR/_SMPRLockUnlockList") },
			  new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget", OnBegin = "ShowLoadingDialog()" },
		new { @id = "_SMPRLockUnlockListFrom" })
		)
	{
		<div class="row">

			<div class="col-lg-2 col-md-2 col-sm-2  form-group">
				<label class="lbl-abs">Select Month</label>
				@Html.TextBoxFor(model => model.Month, new { @class = "form-control actdate ddapplyaction", @type = "month" })
				@Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
			</div>
			<div style="display:none">
				<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search"><i class="fas fa-search"></i>Search</button>
			</div>
		</div>
	}

	<div id="TargetDiv">@Html.Partial("_Loading")</div>
</div>


<div class="modal fade pop-dgn" id="ViewHistoryModal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">

			<div class="modal-header blk-gdn-btn">
				<h4 class="modal-title"><i class="fas fa-print"></i><span class="spnhead"></span> </h4>
				<div class="close" data-dismiss="modal">&times;</div>
			</div>
			<div class="modal-body p-0 pt-2 pt-2 pb-2">
				<div id="SMPRHistoryDiv"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade pop-dgn" id="ModalMonthlyCloser">
	<div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-header">
				<h4 class="modal-title"><span class="spnHeadLock"></span> </h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body p-3">
				@{SMPR.SMPRLock LockModal = new SMPR.SMPRLock(); }
				@Html.Partial("_SetLockUnlockSMPR", LockModal)
			</div>
		</div>
	</div>
</div>



@section scripts    {
	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))
	
	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncDialogUtility.js"))
	<script>
		$(document).ready(function () {
			$("#btnSearch").click();
		});

		$('.ddapplyaction').bind("change", function () {
			$("#btnSearch").click();
		});


		function BindTarget(args) {
			CloseLoadingDialog();
			$("#TargetDiv").empty();
			$("#TargetDiv").html(args);

			$('.AShowHistory').on('click', function (e) {
				e.preventDefault();
				_LockHistoryList(this);
			});
			$('.ALockUnlock').on('click', function (e) {
				e.preventDefault();
				LockSMPR(this);
			});
			$('#AMonthlyCloser').on('click', function (e) {
				e.preventDefault();
				SendToMonthlyCloser();
			});
			$('[data-toggle="tooltip"]').tooltip();
		}
		

		function _LockHistoryList(obj) {
			var SS = $(obj).closest("tr").find("input:hidden[name=SMPRID]").val();
			var ProjectName = $(obj).closest("tr").find("input:hidden[name=ProjectName]").val();			
			if (SS) {
				ShowLoadingDialog();
				$.ajax({
					url: "/MPR/_LockHistoryList",
					type: "Get",
					data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/MPR/_LockHistoryList" + "*" + SS) },
					success: function (data) {
						
						$("#SMPRHistoryDiv").empty();
						$("#SMPRHistoryDiv").html(data);
						$(".spnhead").html(ProjectName);
						$("#ViewHistoryModal").modal('show');
						CloseLoadingDialog();
					},
					error: function (er) {
						CloseLoadingDialog();
					}
				});
			}
		}

		function SendToMonthlyCloser() {

			var content = "Do you want to proceed.";
			SyncConfirmBox('Warning', content, funOk, funCan)
			function funOk() {
				SyncCloseDialog();
				var dt = $("#Month").val();
				$("#dtdate").val(dt);
				$("#Lock").val("1");
				$(".spnHeadLock").html('Close Month');
				$("#ModalMonthlyCloser").modal('show');
			}
			function funCan() {
				SyncCloseDialog();
			}
		}
		function LockSMPR(obj) {
			var SMPRID = $(obj).closest("tr").find("input:hidden[name=SMPRID]").val();
			var ProjectName = $(obj).closest("tr").find("input:hidden[name=ProjectName]").val();		
			var Lock = $(obj).closest("tr").find("input:hidden[name=Lock]").val();
			var content = "Do you want to proceed.";
			if (Lock == 0) {
			content = "Unlocking the MPR will open MPR for  change and may result in Old Report to be redundant.";
			}
			SyncConfirmBox('Warning', content, funOk, funCan)
			function funOk() {
				SyncCloseDialog();
				var dt = $("#Month").val();
				$("#dtdate").val(dt);
				$("#SMPRID").val(SMPRID);
				$("#Lock").val(Lock);
				$(".spnHeadLock").html(ProjectName);
				$("#ModalMonthlyCloser").modal('show');
			}
			function funCan() {
				SyncCloseDialog();
			}
		}

		function SMPRLockSuccess(obj) {
			$("#ModalMonthlyCloser").modal('hide');
			$("#LockRemarks").val('')
			$("#SMPRID").val('0');
			CloseLoadingDialog();
			if (obj.Status) {
				SuccessToaster(obj.SuccessMessage);
				$("#btnSearch").click();
			}
			else {
				FailToaster(obj.SuccessMessage);
				
			}
		}
	</script>

}