<div class="inner-main mb-5 pb-0 ">
	<h1 class="heading-one ">Sub Section Master</h1>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
				<h1 class="heading-one ">Add</h1>
				<div class="SectionAdd">

				</div>
		</div>
		<div class="col-lg-8">
			<h1 class="heading-one ">Sub Section List</h1>
			<div class="SectionList">

			</div>
		</div>


	</div>
</div>


@section scripts    {

	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncScripts.js"))
	<script>



        $(document).ready(function () {
            GetList();
            ListAdd(0);
        });


        function OnMPRSubSECSuccess(obj) {
            if (obj.Status) {
                $(".SectionList").empty();
                $(".SectionList").html(obj.ViewAsString);
                CloseLoadingDialog();
                SuccessToaster(obj.SuccessMessage);
                ListAdd(0)
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }

        function ListAdd(ID)
        {
                if (ID == undefined)
                {
                  ID = 0;
                }
		   $.ajax({
                url: "/MPR/_SubSectionAdd",
				type: "Get",
                data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/MPR/_SubSectionAdd" + "*" + ID) },
                success: function (data)
                {
                    $(".SectionAdd").empty();
                    $(".SectionAdd").html(data);
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
                    $(".applyselect").select2();

                    ShowHideCol();
                    $('#NoOfCol').bind("change", function () {

                        ShowHideCol();

                    });

                    $("#btnClr").click(function () {
                        ShowLoadingDialog();
                        ListAdd(0);
                    });
                    CloseLoadingDialog();
				},
				error: function (er) {
                    console.log(er);
                    CloseLoadingDialog();

				}
			});
        }


                function GetList() {
                    ShowLoadingDialog();
                    $.ajax({
                        url: "/MPR/_SubSectionList",
                        type: "Get",
                        async: true,
                        cache: false,
                        data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/MPR/_SubSectionList*") },
                        success: function (data)
                        {
                            $(".SectionList").empty();
                            $(".SectionList").html(data);
                            CloseLoadingDialog();

                         },
                        error: function (er) {
                            console.log(er);
                            CloseLoadingDialog();

                        }
            });
        }


        function ShowHideCol()
        {
            ShowLoadingDialog();
            var a = Number($("#NoOfCol").find("option:selected").val());
            if (a == 1)
            {
                $(".Col1").show();
                $(".Col2").hide();
                $(".Col3").hide();
            }
            else if (a == 2)
            {
                $(".Col1").show();
                $(".Col2").show();
                $(".Col3").hide();
            }
            else if (a == 3)
            {
                $(".Col1").show();
                $(".Col2").show();
                $(".Col3").show();
            }
            CloseLoadingDialog();
        }
	</script>
}