@model ListTabs
@section style{
	@System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
@{
	string MenuID = "0";
	if (ViewBag.MenuID != null)
	{
		MenuID = ViewBag.MenuID;
	}
}
<div class="inner-main">
	<div class="right_col" role="main">
		
		@Html.Partial("ListHeader_Partial", "HR Approval")
		@using (Ajax.BeginForm("_HRApproval", "ExitEmployee",
		   new { src = clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString() + "*/ExitEmployee/_HRApproval") },
		   new AjaxOptions { HttpMethod = "POST", OnSuccess = "BindTarget" },
	   new { @id = "__HRApprovalListFrom" })
	   )
		{

			<div class="tab-main ">
				<div class="row text-clr">
					<div class="col-md-12">
						<ul id="tabs" class="nav nav-tabs " role="tablist">
							<li class="nav-item"> <a tabvalue="0" class="nav-link active ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="fas fa-tasks"></i>Pending </a> </li>
							<li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-clock"></i>In Process</a> </li>
							<li class="nav-item"> <a tabvalue="2" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-times-circle"></i>Processed</a> </li>
							<li class="nav-item"> <a tabvalue="3" class="nav-link ripplelink AnchorApproval" data-toggle="tab" role="tab"><i class="far fa-times-circle"></i>Resolution Recorded</a> </li>
						</ul>
					</div>
					<div style="display:none">
						@Html.HiddenFor(model => model.Approve)
						<button type="submit" class="btn mtr-g-grn btn-l ripplelink" id="btnSearch" name="Command" value="Search">
							<i class="fas fa-search"></i>Search
						</button>
					</div>
				</div>
			</div>

		}

		<div id="TargetDiv"></div>
	</div>
</div>


@section scripts    {

	@System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/ToolTip.js"))

	@Html.IncludeVersionedJs(Url.Content("~/assets/design/Scripts/SyncScripts.js"))
<script>
        $(document).ready(function () {
            $("#btnSearch").click();
        });
        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approve").val(att);
            ShowLoadingDialog();
            $("#btnSearch").click();
        });


        function BindTarget(args) {
            CloseLoadingDialog();
            $("#TargetDiv").empty();
            $("#TargetDiv").html(args);
		}

		    function Modify(obj) {

			var I = $(obj).closest("tr").find("input:hidden[name=I]").val();
	          Viewdata(I);
			
		}
	         function Viewdata(id) {

                ShowLoadingDialog();
                var mId = "@clsApplicationSetting.EncryptQueryString(ViewBag.MenuID.ToString()+ "*/ExitEmployee/HRApproveAction")";
                var url = "/ExitEmployee/HRApproveAction?src=" +mId + "&id=" + id;
                   window.location.href = url;

                setTimeout(function () {
                    CloseLoadingDialog();
                }, 4000);
            }

</script>
}